.custom-popup-wrapper {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}

.custom-popup-inner a.close-button {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 15px;
    height: 15px;
    right: 25px;
    top: 25px;
    display: block !important;
    background: none;
    &:before {  
        content:'\e937'; 
        font-family:'icomoon'; 
        font-size:15px; 
        color:$title; 
        display:inline-block; 
    }
}

a.btnMinPpCl {
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 3;
    display: block;
    height: 20px;
    width: 20px;
    background: #f00;
}

.minPp, .custom-popup-inner {
    height: 100% !important;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    position: relative;
}
.popupDefault {
    padding: 30px;

.popupTitleDefault  { 
        display:block;
        span {
            font-size:17px;
            font-family: fontSite;
        }
    }
}

/*Yeni Vatani Nasil Buldunuz*/
.new-vatan-popup-btn{
    position: fixed;
    bottom: 0;
    left: 20px;
    z-index: 5;
    background: $green;
    color: #ffffff;
    font-size: 12px;
    padding:7px 10px 5px 10px;
    text-align: center;
    border-radius: 3px;
}

/*urun Liste Rehber Linkleri*/
.guide-ntf{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0;
    border-radius: 3px;
    background: $lBlue;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    color:#ffffff;
    padding: 10px 50px 10px 20px;
    z-index: 1;
    cursor: pointer;
    &-icon{
        display: inline-block;
        vertical-align: middle;
        i{
            &:before{
                font-size: 45px;
            }
        }
    }
    &-content{
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;
    }
    h1{
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        font-family: $fM;
    }
    p{
        font-size: 12px;
        margin: 0;
    }
    .icon-ico_close{
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -6px;
        &:before{
            font-size: 12px;
        }
    }
    &.show-guide {
        display: block;
    }
}
.compare-prd-active .guide-ntf {
    bottom: 90px;
}

/*Fixed Popup*/
.guide-popup-ready .popup.popup-confirm {
    display: block;
}
.popup.popup-confirm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 19;
    display: none;
    .popup-confirm-inline{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 95%;
        height: auto;
        margin:auto;
        right: 0;
        transform: translateY(-50%);
        .wrapper{
            position: relative;
            overflow: hidden;
            .title{
                margin: 0;
                padding: 30px 20px 15px 20px;
                font-size: 18px;
                color: $lBlue;
                font-family: $fM;
                text-align: center;
                font-weight: normal;
            }
            max-width: 540px;
            margin: 0 auto;
            background: #fff;
            a.popup-close{
                position: absolute;
                top: 20px;
                right: 15px;
                width: 15px;
                height: 15px;
                z-index: 6;
                i{
                    &:before{
                        color: $title;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
            ul.content{
                .sub-title{
                    font-size: 14px;
                    color: $text;
                    text-align: center;
                    display: block;
                    padding-bottom: 40px;
                }
                li{
                    border-top: 1px solid $borderColor;
                    .holder{
                        > a{
                            padding: 20px 40px 20px 40px;
                            display: block;
                            position: relative;
                            h2.content-title{
                                margin: 0 0 5px 0;
                                font-weight: normal;
                                color: $dBlue;
                                font-size: 14px;
                                font-family: $fM;
                            }
                            p{
                                margin: 0;
                                font-size: 12px;
                                color: $sText;
                                line-height: 20px;
                                font-family: $fD;
                            }
                            i.icon-ico_arrw{
                                position: absolute;
                                top: 50%;
                                right: 20px;
                                width: 14px;
                                height: 14px;
                                margin-top: -6px;
                                &:before{
                                    font-size: 14px;
                                    color: $dBlue;
                                }
                            }
                        }
                    }
                }
            }
            .step {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                right: -150%;
                background: #ffffff;
                z-index: 5;
                will-change: right;
                @include transition(right 0.2s ease);
                padding: 20px;
                .content-title {
                    color: $dBlue;
                    font-size: 14px;
                    font-family: $fM;
                    font-weight: normal;
                    text-align: center;
                    margin: 30px 0 5px 0;
                }
                .sub-title{
                    line-height: 20px;
                    font-size: 12px;
                    color: $sText;
                    display: block;
                    text-align: center;
                }
                .content-text {
                    padding: 20px;
                    max-height: 320px;
                    overflow: auto;
                    .inline {
                        padding: 10px;
                    }
                    h4{
                        margin: 0;
                        font-weight: normal;
                        font-family: $fM;
                        color: $title;
                        font-size: 14px;
                        padding-bottom: 10px;
                    }
                    p{
                        margin: 5px 0;
                        line-height: 20px;
                        font-size: 12px;
                        color: $sText;
                        font-family: $fD; 
                    }
                }
                .back-btn {
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    a{
                        color: $title;
                        font-size: 14px;
                        font-family: $fM;
                        i.icon-ico_arrw{
                            margin-right: 10px;
                            @include setTransform(rotate(180deg));
                            @include transition(all .2s ease);
                            display: inline-block;
                            position: relative;
                            top: 1px;
                            &:before{
                                font-size: 14px;
                                color: $title;
                            }
                        }
                    }
                }
                &.selected {
                    right: 0;
                }
            }
        }
    }
}
.popup.popup-form {
    .popup-confirm-inline{
        .wrapper{
            position: relative;
            .title{
                margin: 0;
                padding: 30px 20px 25px 20px;
                font-size: 18px;
                color: $lBlue;
                font-family: $fM;
                text-align: center;
                font-weight: normal;
            }
            max-width: 540px;
            margin: 0 auto;
            padding: 20px;
            background: #fff;
            a.popup-close{
                position: absolute;
                top: 20px;
                right: 15px;
                width: 15px;
                height: 15px;
                i{
                    &:before{
                        color: $title;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .ems-form{
        max-width: 375px;
        margin: 0 auto;
        padding: 15px 0 0 0;
        &-inner{
            .ems-rating{
                text-align: center;
                .rating-wrapper, a.rating.selected, a.rating:hover{
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    background:url(#{$baseHref + "/images/frontend/rating.png"}) repeat-x;
                    width: 100px;
                    height: 18px;
                    overflow: hidden;
                    background-position: left top;
                    ul{
                        margin-bottom: 20px;
                        li{
                            a.rating{
                                height: 18px;
                                line-height: 18px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                outline: none;
                                overflow: hidden;
                                transition: none;
                                &.rating1 { width: 20%; z-index: 6; }
                                &.rating2 { width: 40%; z-index: 5; }
                                &.rating3 { width: 60%; z-index: 4; }
                                &.rating4 { width: 80%; z-index: 3; }
                                &.rating5 { width: 100%; z-index: 2;}
                                &:hover{
                                    background-position: left bottom;
                                }
                                &.selected{
                                    background-position: left bottom;
                                }
                            }
                        }
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    color: $sText;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }   
            }
            .ems-field{
                .ems-form-obj {
                    textarea { height: 210px; max-height: 210px; resize: none; }
                    .character-control {
                        pointer-events: none;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        font-size: 12px;
                        color: $sText;
                        small{
                            font-size: 12px;
                            color: $sText;
                        }
                    }
                }
            }
        }
    }
}

//iade detay
.popup_iadeDetay {
    max-width: 800px !important;
}

.ems-logoff .popup_stokHaberci, .ems-logoff .popup_favori {
    max-width: 550px !important;
    .minPpBdy {
        height:420px !important;
    }
}

@media screen and (max-width:960px) {
    .new-vatan-popup-btn {  
        display: none;
    }
    body.system-popup-ready {overflow: hidden; position: fixed;}
    .minPp, .custom-popup-inner {
        max-width: 100% !important;
    } 
    .minPpBdy, .custom-popup-body {
        height: 100% !important;
    }
    .minPpWrp, .custom-popup-wrapper {
        position: fixed !important;
        top: 0 !important;
        height: 100% !important; 
    }

    /* Mesaj Oku */

    .minPp, .custom-popup-inner  {
        &.popup_mesajOku, &.popup_mesajGonder {
            
            & .minPpBdy,& .custom-popup-body {
                padding-bottom: 0px !important;
                &:before {
                    content: '';
                    font-size: 36px;
                    color: $dBlue;
                    position: relative;
                    z-index: 1;
                    height: 40px;
                    display: block;
                    border-bottom: 1px solid $borderColor;
                    padding: 20px;
                    line-height: 40px;
                    background: #fff;
                }
            }
            .btnMinPpCl, .close-button {
                top: 18px;
            }
        }
        .minPpBdy, .custom-popup-body {
       
		position: fixed !important;
		background: #fff;
        top: 0 !important;
		left: 0 !important;
        right: 0 !important; ; 
        bottom: 0 !important; 
		-webkit-overflow-scrolling: touch;
		overflow-y:auto;
    }
	.minPpBdy iframe, .custom-popup-body iframe {
		background: #fff;
        width: 100%;
        height: 100% !important;
	}
    .minPpWrp, .custom-popup-wrapper {
        /*
        position: fixed !important;
		background: #fff;
        top: 0 !important;
		left: 0 !important;
        right: 0 !important; ; 
        bottom: 0 !important; 
		-webkit-overflow-scrolling: touch;
		overflow-y:scroll*/
    }
        
    }
    .popup.popup-confirm{
        background: #fff;
        z-index: 25;
        .popup-confirm-inline{
            top: 50px;;
            transform: none;
            width: 100%;
            .wrapper{
                max-width: 100%;
            }
        }
    }
}