    ul.emosInfinite {
        border-width: 1px 0 0 1px;
        border-color: $lines;
        border-style: solid;
    }
    .ems-prd {
        width:25%;
        /*margin-left: 0px;    
        margin-right: -1px;    
        margin-top: 0px;    
        margin-bottom: -1px; */
        
        a {transition: all 0.32s ease;}
        a {text-decoration: none;}
        &-inner {
            /*border: 1px solid $lines;
            padding-bottom: 10px;
            */
            margin: 0px;
            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: $lines;
            overflow: hidden;
            position: relative;
            padding-bottom: 20px;
            &:hover {
                    /*border-color: $lBlue;*/
                    z-index: 1;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0px;
                        box-shadow: 0 0px 0 2px $lBlue inset;
                        z-index: -1;
                    }
                    .listBottomBtn {
                        bottom: 0;
                    }
                }
            &:before {
                content:'';
                @include transition(all 0.5s ease);
                box-shadow: 0 0 0 0px $lBlue inset;
            }
            
            > * {
                /*margin-left: 10px;
                margin-right: 10px;*/
            }
        }
        &-image {
            /*margin-left: 0;
            margin-right: 0;*/
            padding:40px 20px 10px 20px;
            a, img {
                width: 100%;
                display: block;
                max-width: 233px;
                margin: 0 auto;
            }
        }
        &-code {
            text-align: center;
            font-size: 11px;
            color:$sText;
            margin: 10px 0 5px 0;
            padding:0 20px;
        }
        &-name {
            font-size: 12px;
            color: $text;
            line-height: 1.2;
            height: 42px;
            overflow: hidden;
            text-align: center;
            padding:0 20px;
            a {
                color: $title;
            }
        }
        &-description {
            margin-top: 7px;
            color: #999;
            display:none;
        }
        &-price {
            /*position: relative;*/
            margin-top: 20px;
            color: $dBlue;
            line-height: 1;
            height: 45px;
            padding:0 20px;
            > span { }
            &-first {
                position: absolute;
                font-size: 15px;
                text-decoration: line-through;
            }
            &-selling {
                margin-top: 20px;
                font-size: 23px;
                text-align: center;
                font-size: 30px;
                font-family: $fB;
                .d {
                    font-size: 15px; 
                    position: relative;
                    top: 1px;
                    vertical-align: super;
                }
                .pb1 {
                    vertical-align: super;
                    font-size: 14px;
                }
            }
        }



        &-comment {
            text-align: center;
            display: block;
            height: 14px; 
            margin: 7px 0;
            .urunListe_yorum {margin: 7px 0;}
            .urunListe_yorumSayi, .urunListe_ratingbar {display:none;}
            span[id$="lblURUNYORUM_ORTALAMAPUAN"] {
                a {
                    font-size:11px;
                    color:$sText;
                    &:before {
                        font-family: 'icomoon';
                        font-size:12px; 
                        content:'\e926'; 
                        color:$gold;
                        margin-right: 3px; 
                    }
                }
            }
        }
            &-lastPrd {
                width: 100%;
                margin: 0 0 15px 0;
                display: block;
                height: 12px;
                text-align: center;
                position: absolute;
                bottom: 36px;
                .urunListe_sonXUrun {
                    > span {
                        background:$red; 
                        font-size:11px; 
                        font-family: $fD; 
                        padding: 4px 6px 3px 6px;
                        border-radius: 3px;
                        color: #fff;
                    }
                }
            }
            &-stock {
                height: 22px;
                display: block;
                .urunListe_urunStokUyari {
                    margin-top:15px;
                    text-align: center;
                    i {
                        font-size: 11px;
                        line-height: 1.18;
                        background: $lightBg;
                        color: $text;
                        border-radius: 3px;
                        padding: 5px 15px;
                        display: inline-block;;
                        max-width: 125px;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }

        .listBottomBtn {
            position: absolute;
            width: 100%;
            bottom: -50px;
            display: table;
            @include transition(all 0.2s ease);
            .ems-prd-compare {
                .cStyler {
                    display: inline-block;
                    width: auto;
                    height: auto;
                    border: 0;
                    vertical-align: middle;
                    margin-right: 0;
                    &:before {
                        content: "\e909";
                        font-family: 'icomoon';
                        font-size: 16px;
                        background: #1565c0;
                        color: #fff;
                        height: 50px;
                        width: 50px;
                        float: left;
                        text-align: center;
                        cursor: pointer;
                        line-height: 50px;
                    }
                    &.checked {
                        &:before {
                            background: $green;
                        }
                    }
                }
                i {
                    display:none; 
                    font-size: 12px;
                    color: $text;
                }
            }
            .ems-prd-addBasket {
                width: 100%; 
                /*margin-left: 50px;*/
                display: table-cell;
                vertical-align: bottom;
                position: relative;
                z-index: 1;
                a {
                    width: 100%;
                    padding: 15px 0 16px 0;
                    height: 50px;
                    border-radius: 0;
                }
                .urunListe_adet {
                    display:none;
                    }
                .urunListe_sepet {
                    table, tbody, tr, th, a { 
                        width:100%;
                        display:inline-block;
                    }
                    a.btnSepeteAt {
                        line-height: 22px;
                        span {
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                    }
                }

                .urunListe_stokHaberci {
                    table, tbody, tr, th { 
                        width:100%;
                        display:inline-block;
                    }
                    a {
                        padding: 17px 0 17px 0;
                        width:100%;
                        display:inline-block;
                            span {
                            text-transform: uppercase;
                        }
                    } 
                }
                .urunListe_sepetGrup {
                    /*display:block !important;*/
                }
            }
        }
        
        &-compare {
            display: table-cell;
            > * {vertical-align: middle;}
            > span {
                display: inline-block !important;
                }
        }
        &-btn-detail {
            margin-top: 12px;
            a {
                display: block;
                text-align: center;
                padding: 12px;
                background: #cecece;
                color: #fff;
                &:hover {
                    background: $colorRed;
                }
            }
        }
        &-icons {
            display: none;
            /*position: absolute;
            left: 0;
            top: 0;*/
        }
        
        &.spr2 {
            .ems-prd-inner {
                .ems-prd-price {
                    &:before {
                        content:"WEB'E ÖZEL";
                        width: 100%;
                        color:$lBlue;
                        font-family: $fM;
                        text-align: center;
                        position: absolute;
                        top: 20px;
                        left: 0;
                        display: block;
                    }
                }
            }
        }
        &.active-cart-button {
             .listBottomBtn {
                 bottom: 0;
             }
        }
    }

    .ems-prd-price .urunListe_satisFiyat:before {
                    content: 't';
                    font-family: 'tl';
                    font-size: 25px;
                    font-weight: normal;
                    display: inline-block;
    }



    &-sort {
       
    }
    &-count {
        display: none;
        font-size: 14px;
        color: #666666;
        line-height: 1;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        b {
            display: block;
            font-size: 110px;
            font-weight: 200;
            margin-bottom: 15px;
        }
        .row-3 & {
            display: block;
        }
    }

// ÖNERİLEN ÜRÜN

.randomProduct { 
    position: fixed;
    right: 20px; 
    bottom:-450px;
    background: #fff;
    z-index: 8;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    @include transition(bottom 0.32s ease);
    &.show {
        bottom: 0;
    }
    .randomProductHeader {
        text-align: center;
        position: relative;
        background: $green;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        span {
            font-size: 18px;
            font-family: $fM;
            color: #fff;
            padding: 12px 0;
            display: block;
        }
        i {
            position: absolute;
            right: 20px;
            top: 16px;
            color: #fff;
            cursor: pointer;
        }
    }
    ul.emosInfinite {border: 0;}
    .ems-prd {
        display:none;
        width: 240px !important;
        border: 0;
        border-left: 1px solid $green !important; 
        border-right: 1px solid $green !important;
        margin: 0;
        padding-bottom:30px; 
        &.selected {
            display:inline-block;
        }
        &:hover {
            border: 0;
            &:before {
                box-shadow:none !important;
            }
        }
        .listBottomBtn {
            display:none;
            .ems-prd-addBasket {
                .urunListe_sepet {
                    a.btnSepeteAt {
                        background: $green;
                    }
                }
            }
        }
        .ems-prd-stock {
            display: none;
        }
        .ems-prd-name {height: auto;}
        .ems-prd-image {
            padding: 0 20px;
        }
        .ems-prd-price {
            height: auto;
            color: $green;
            &:before {
                display:none;
            }
        }
        .ems-prd-lastPrd {
            bottom: 0;
        }
    }
}

.page-list{
    .row-main-cat{display: none;}

    .col-1 {
        width:200px;
        float:left;
        .mobile-filter-control, .ems-prd-list-count {display:none;}
        .kutuFooterOzellikFiltre {display:none !important;}   
    } 

    .col-2 {
        width:auto;
        margin-left:237px;
        display:block;
        text-align: right;
        .mobile-filter, .popup-sort {
            display:none; 
        }
        .mobile-filter-control, .ems-prd-list-count {display:none;}
        .ems-prd-list-count {
            text-align: left;
            h1 {display:inline-block; margin: 0; font-size: 14px;}
        }
        .no-prd {
            text-align: center;
            margin: 50px 0;

            p {
                font-family: $fM;
                font-size: 20px;
                margin: 50px 0;
                display: block;
            }
            i {
                &:before {
                    font-size: 80px;
                    color: $dBlue;
                    position: relative;
                    left: -15px;
                }
            }
        }
        .ems-prd-list {
            max-width: 960px;
            width: 100%;
            display: inline-block;
            /*padding-top: 40px;*/
            text-align: left;
            .ems-prd-list-count {display:none;}
            &-prop {
                background:$lightBg; 
                height: 50px;
                margin-bottom: 17px;
                border-radius: 3px;
                .gosterim {
                    float:right;
                    padding: 20px 20px 0 0px;
                    display: inline-block;
                    li {
                        display: inline-block;
                        margin-left:6px;
                        a {
                            color:$text;
                            padding: 0 7px 14px 7px;
                            transition:none;
                        }
                        &.selected {
                            a {
                               display: inline-block;
                               color:$dBlue; 
                               border-bottom:2px solid $dBlue;
                            }
                        }
                        &.ikili {
                            margin-right:13px;
                        }
                    }
                }
            }
            .ems-prd-list-sort {
                width: 100%;
                max-width:230px; 
                float: left;
                select {
                    width:100%;
                    box-shadow: none;
                    outline: none;
                    padding: 17px 15px;
                    width: 100%;
                    border: 0;
                    font-size:14px; 
                    color:$text;
                    font-family: $fM;
                    background: none;
                }
                .sStylerWrp {
                    position:relative; 
                    cursor:default;
                    background: none;
                    padding: 18px;
                    width: 100%;
                    height: 100%;
                    span.sStyler {
                        display:block; 
                        font-size:14px; 
                        color:$text;
                        font-family: $fM;
                    }
                }
            }

            .ems-prd-list-stock {
                float:left;
                padding: 17px 15px;
                margin-left: 25px;
                input {
                    width: 14px; 
                    height: 0;

                }
                span.cStyler {
                        width: 14px; 
                        height: 14px;
                        border: 1px solid $sText;
                        display: inline-block; 
                        &.checked {
                            background : $sText;

                        }
                }
                label {
                    font-size: 14px;
                    color:$text;
                    font-family: $fM;
                    margin-left: 15px; 
                }
            }


            .ems-inline {
                .ems-prd-description {display:none;}
            }
            .prdSortMenu {display:none;}
        }
    }

    .row-2 {
        
    }

    /* List Visilabs */
    .listVslb {
        width: 100%;
        background: $dBlue;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        .category-top-sellers-widget {
            margin:0 auto !important;
            width: 100%;
            max-width: 1240px;
            padding: 20px 65px 50px 65px;
            position: relative;
            > .swiper-inner {
            overflow: visible !important;
                .ems-prd {
                    opacity: .5;
                    transition: all 0.2s ease;
                    padding: 5px;
                    &-inner {
                        border: 0 !important;
                        border-radius: 5px;
                        background: #fff;
                        &:hover:before {
                        box-shadow:none !important;
                        }
                        
                    }
                    &.active-slide {opacity: 1;}
                }
            }
            .swiper-title {display:none;}
            .swiper-button-prev, .swiper-button-next {
                top: 40%;
                background:#000;
                opacity: 0.7;
                z-index: 3;
                i:before {
                    color: #fff;
                }
            }
            .swiper-button-prev {
                left: 5px; 
            }
            .swiper-button-next {
                right: 5px;  
            }
            .swiper-pagination-bullets {
                display:block !important;
                bottom: 20px !important;
                .swiper-pagination-bullet {
                    width: 8px !important;
                    height: 8px !important;
                    margin: 5px;
                }
                .swiper-pagination-bullet-active {
                    width: 8px !important;
                    height: 8px !important;
                    border: 1px solid #fff !important;
                    background: transparent !important;
                } 
            }
            /*
            &:before {
                content: '';
                position: absolute;
                background: $dBlue;
                width: 100%;
                height: 100%; 
                opacity: .5;
                left: -1220px; 
                top: 0;
                z-index: 2;
            }
            &:after {
                content: '';
                position: absolute;
                background: $dBlue;
                width: 100%;
                height: 100%; 
                opacity: .5;
                right: -1220px; 
                top: 0;
                z-index: 2;
            }
            */
        }
    }


    &.search-page {
        .pageArama, .tableArama, .tblBtnAraIptal, .tableTitleArama {display:none;}
        .urnList {
            .ems-prd-list .ems-prd-list-count {display:none;}
            .ems-prd-list-count {display:block; padding-top: 20px; margin-bottom: 20px;}
        }
        .catDesc {margin-top: 20px;}
    }
}

// Landing Page

.cat1s {
    margin: 30px 0;
    .cat1sCats {
        position: relative;
        ul {
            border-width: 0px 0 0 1px;
            border-color: $borderColor;
            border-style: solid;
            display: inline-block;
            width: 100%;
            li {
                width: 20%;
                text-align: center;
                float: left;
                border-width: 1px 1px 1px 0;
                border-style: solid;
                border-color: $borderColor;
                position: relative;
                margin-bottom: -1px; 
                a {
                    padding: 60px 0px;
                    display: inline-block;
                    width: 100%;
                    img {
                        width: 100%;
                        max-width: 100px;
                        padding: 10px 0px 10px 0;
                    }
                    span {
                        display: block;
                        font-family: $fM;
                        height: 18px;
                    }
                }
                &:before {
                        content: '';
                        box-shadow: 0 0px 0 0px $lBlue inset;
                        @include transition(all 0.5s ease);
                        box-shadow: 0 0px 0 1px #fff inset;
                    }
                    &:hover {
                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0px;
                            box-shadow: 0 0px 0 1px $lBlue inset;
                            z-index: -1;
                        }
                    }
            }
        }
    }
}

.ems-content-landing-page {
    .lTitle {
        margin: 30px 0 40px 0;
        .sayfaAd {
            font-size: 30px;
            font-family: $fM;
            margin-bottom: 5px;
        }
    }
    .popular-link {
        h2 {
           margin: 0;
           font-size: 24px;
           font-family: $fM; 
           font-weight: normal;
           margin : 20px 0;
        }
        ul {
            li {
                a {padding: 20px 0;}
            }
        }
    }
}


.top-sellers-category-widget {
    margin:10px auto 70px auto !important;
    .swiper-inner {
    width: 100% !important;
    border-width: 1px 0px 0 1px !important;
        ul.swiper-wrapper {
            display: inline-block;
            li {
                width: 20% !important;
                display: inline-block;
            }
        }
    }
}

// List Paging

.urunPaging {
    table td {
        width: 100% !important;
        &[align="left"], &[align="right"], .urunPaging_btnKiyaslama, .urunPaging_paging, .lastPage, .firstPage {
            display: none !important;
        }
    }
    .urunPaging_pageNavigation {
        position: relative;
        width: 100%;
        padding: 40px 0 20px 0; 
        text-align: left;
        span[id$="lblPaging"] {
            display: inline-block;
            .paging {
                text-decoration: none;
                display: inline-block;
                padding: 5px;
                margin: 0 20px;
                font-size: 14px;
                font-family: $fM;
                color: $text;
                border-radius: 100%;
                text-align: center;
                > span {
                    display: block;
                }
            }
            span.paging {
                background: $dBlue;
                color: #fff;
                width: 25px;
                height: 25px;
            }
        }
        [id$="lnkPrev"], [id$="lnkNext"] {
            position: absolute;
            top: 50%;
            margin-top: -22.5px;
            display:none;
        }
        [id$="lnkPrev"] {
            left: 0;
        }
        [id$="lnkNext"] {
            right: 0;
        }
        .tumunuGoster {
            display:inline-block !important;
            float: right;
            padding: 5px 0;
                span {
                    color: $dBlue;
                    font-family: $fM;
                }
            }
    }
}

 /* Filre Seçim */

        .pnlUrunKiyasSecim {
            position: relative;
            .urunKiyaslamaOzellik_secimbaslik, .urunKiyaslamaOzellik_UrunSayi {display:none;}
            .urunKiyaslamaOzellik_secimler {
                    display: inline-block;
                    padding: 0px 150px 7px 0px; 
                .ozellikSecimGrup {
                    padding:10px;
                    border-radius: 3px; 
                    background: $vlightBg;
                    float: left;
                    margin: 0 10px 10px 0;
                    .ozellikFiltreBaslik {
                        font-size: 12px;
                        color: $sText; 
                    }
                    a {
                        padding:0 10px 0 0;
                        border-radius: 3px; 
                        background: $vlightBg;
                        float: left;
                        color: $title; 
                    
                        &:before {
                            font-family: 'icomoon';
                            content: '\e921';
                            color: #fff;
                            background: $sText;
                            border-radius: 100%;
                            font-size: 6px;
                            float: left;
                            margin-right: 5px;
                            width: 13px;
                            height: 13px;
                            text-align: center;
                            line-height: 13px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
            .urunKiyaslamaOzellik_tumunuTemizle {
                display: inline-block !important;
                position: absolute;
                right: 10px;
                top: 10px;
                span {
                    color: $dBlue;
                    font-family: $fM;
                }
            }
        }


    /* Kategori Üst Açıklama */

    .catDesc {
            margin-bottom: 35px;
        h1 {
           font-size: 30px;  
           margin:15px 0 10px 0;
           padding: 0;
        }
    }

    /* Liste Üst Link */

    .popular-link {
        margin-bottom: 10px;
        ul {
            display: table;
            width:100%;
            li {
                display:table-cell; 
                width: 20%;
                text-align: center;
                padding: 0 10px;
                vertical-align: top;
                    a {
                     display: inline-block;
                     width: 100%;
                     border: 1px solid $lines;
                     padding: 10px 0;
                     border-radius: 5px;
                     img {
                         /*height: 28px;*/
                     }
                     span {
                         font-size: 18px;
                         font-family: $fM;
                         color: $text;
                         display: block;
                         text-align: center;
                         margin-top: 10px;
                     }
                     &:hover {
                         border-color: $lBlue;
                         span {
                             color:  $lBlue;
                         }
                     }

                    }
                    /*
                    &:first-child {
                        padding:0 10px 0 0;
                    }
                    &:last-child {
                        padding:0 0 0 10px;
                    }
                    */
                }
        }
        &.mrk {
            img {

            }
        }
    }


body.tekli {
    .page-list .col-2 {
    .ems-prd-list {
        .ems-inline {
            .ems-prd { 
                .ems-prd-name {
                    padding-bottom: 15px;
                }
                .urunListe_urunStokUyari {
                   margin-top: 0;
               }              
            }
            .ems-prd-description {
                display: block;
                float: left;
                width: 60%;
                margin-top: 0;
                margin-bottom: 10px;
                .techContent {
                    ul {
                        li {
                            float: left;
                            padding-right: 1px;
                            span {display:none;}
                            img {
                                width: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
    }
}


.gosterim {display:none;}

.catTags {
    padding-top: 20px;
    h2 {
        font-family: $fM;
        color: $text;
        margin: 0;
        font-size: 14px;
        font-weight: normal;
    }
    p {
        color: $sText;
    }

}


@media screen and (min-width:640px) {
/* Tekli Gosterim */
body.tekli {
    .ems-prd-list {
        .ems-inline {
            .ems-prd { 
                width:100% !important;
                    &:before {
                        display:none;
                    }
                    &-inner {
                        padding:40px 30px;
                        margin-right: 0;
                        &:before {
                            float: right;
                            position: static !important;
                            width:auto !important; 
                            text-align: right;

                        }
                    }
                    &-image {
                        width:160px;
                        float: left;
                        padding:0;
                    }
                    &-right {
                        width:auto;
                        margin-left: 200px;
                    } 
                    &-comment {
                        float: left;
                        width:60%;
                        text-align: left;
                        height: auto;
                        margin: 0;
                    }
                    &-code {
                        float: left;
                        width:60%;
                        text-align: left;
                        padding: 0;
                        display: none;
                    } 
                    &-name {
                        float: left;
                        width:60%;
                        text-align: left;
                        padding: 0;
                        height: auto;
                        font-size: 14px;
                    }
                    &-stock {
                        height: auto;
                        float: left;
                        width:60%;
                        text-align: left;
                        .urunListe_urunStokUyari {
                            text-align: left;
                        }
                    }
                    &-price {
                        height: auto;
                        width:40%; 
                        text-align: right;
                        display: inline-block;
                        padding: 0;
                        margin: 0px 0 10px 0;
                        .urunListe_satisFiyat {
                            text-align: right;
                        }
                        &:before {
                            position: static;
                            text-align: right;
                            padding-bottom: 10px;
                        }
                    }  
                    &-lastPrd {
                        height: auto;
                        width:40%; 
                        text-align: right;
                        display: inline-block;
                        float: right;
                        margin-top: 20px;
                        position: static;
                    }


                    .listBottomBtn {
                        position:static !important;
                        width: 40% !important;
                        float: right;
                        .ems-prd-compare {
                                position: absolute;
                                bottom: 20px;
                                left: 230px;
                                display: inline-block;
                            .cStyler {
                                &:before {
                                    content:'';
                                    width: 10px;
                                    height: 10px;
                                    border: 1px solid #9e9e9e;
                                    display: inline-block;
                                    margin: 0;
                                    float: left;
                                    background: none !important;
                                    color: $text;
                                    font-family: $fD;
                                    font-size: 12px;
                                }
                                &.checked {
                                    &:before {
                                        border-color: $lBlue;
                                        background: $lBlue !important;
                                    }
                                }
                            }
                            i {display:inline-block; margin-left: 5px;}
                        }
                        .ems-prd-addBasket {
                            /*position: absolute;*/
                            right: 30px;
                            top: 110px;
                            margin: 0;
                            a {
                                background: $green;
                                border-radius: 3px;
                                font-size: 12px;
                                padding: 6px 24px !important;
                                width: auto;
                                height: auto;
                                float: right;
                            }


                        }
                    }
                } 
            } 
        }       
    }
}

@media screen and (max-width:1100px) {
    
        .ems-prd-list .ems-prd {
           width: 33.333%; 
        }

        body.tekli {
            width:100% !important;
        }

    // Ürün liste en çok satan ürünler

    .top-sellers-category-widget {
        .swiper-inner {
            ul.swiper-wrapper {
                li {
                    width: 25% !important;
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    
.ems-prd-list .ems-prd {
    width: 50%; 
    &:hover {
        &:before {
            display:none;
        }
    }
    .listBottomBtn {display: none;}
}
body.tekli {
    width:100% !important;
}

.page-list {
    position:relative;
    padding:0;
    .catDesc {
        padding: 20px;
        margin-bottom: 0;
    }
    .listVslb {
        .category-top-sellers-widget {
            padding: 0px 20px 50px 20px;
        }
    }
    .listWrp {
        padding: 0;
    }
    .col-2 {
        padding: 0;
        .ems-prd-list-sort {
        float:right; 
        margin: 0;
        max-width: none;
        border-left: solid 1px $borderColor;
            select {
                font-size: 15px;
                color: $marineBlue;
                padding: 0;
                border: 0;
                text-align-last:center; 
            }
        }
        .ems-prd-list-sort {
        max-width:none;
        width: 50%;
        margin: 0;
            select {
                font-size: 18px;
                font-family: $fontSite;
                padding: 20px 0;
            }
        }


        // Filter List and List Sort 

        .ems-prd-list-sort {display:none;}

        .mobile-filter {
            display:inline-block;
            width: 100%;
            background: $lBlue;
                .btn-filter {
                    float:left;
                    width:33.333%;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    padding: 20px 0;
                    font-family: $fM;
                }
                .btn-sort {
                    float:right;
                    width:33.333%;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    padding: 20px 0;
                    font-family: $fM;
                    i {
                        font-size:8px;
                        margin-left: 10px;
                        position: relative;
                        top: -1px; 
                    }
                }
                .ems-prd-list-count {
                    width: 33.333%;
                    float: left;
                    display: block;
                    text-align: center;
                    span {
                        text-align: center;
                        font-size: 14px;
                        color: #fff;
                        padding: 20px 0;
                        font-family: $fM;
                        display: inline-block;
                        &[id$="lblFiltreler"] {display:none;}
                    }
                }
            }


    // List Short 

    .popup-sort {
        display:block;
    }

    .popup-sort {
        display:block;
        .popup-header {
            width: 100%;
            height: 64px;
            display: table;
            background:$dBlue;
                .mbHeaderLogo {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                        span {
                            font-size: 18px;
                            color: #fff;
                        }
                }
        }
        a.btn-close {
            float: right;
            padding: 20px;
            position: absolute;
            right: 0;
            top: 3px;
            cursor: pointer;
            font-weight: bold;
                i:before {
                    float: right;
                    color: #fff;
                    font-size: 17px;
                    font-weight: bold;
                }
        }
        .popup-body {
            ul {
                li {
                    border-top: 1px solid #d8d8d8;
                    a {
                        font-size: 14px;
                        padding: 18px 20px;
                        width: 100%;
                        display: block;
                        color: $text;
                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            background-color: #fff;
                            border:1px solid $sText;
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                    &:first-child {
                        border: 0;
                    }
                    &.selected {
                        a {
                            &:before {
                                background-color: $lBlue;
                                border-color: $lBlue;
                            }
                        }
                    }
                }
            }
        }
    }

    }
    .col-1, .popup-sort {  
        position: fixed; 
        bottom:-100%; 
        left: 0;
        @include transition(bottom 0.32s ease);
        -webkit-transition-timing-function:ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        z-index:112; 
        width:100%; 
        height:100%; 
        background-color: #fff;
        will-change: left;
        overflow-x: auto;

        .mobile-filter-control {
            width: 100%;
            border-bottom: 1px solid #d8d8d8 !important;
            height: 64px;
            display: table;
            .mbHeaderLogo {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                span {
                    /*margin-left: 20px;*/
                    font-size: 36px;
                    }
                }
                .mobile-menu-close {
                    float: right;
                    padding: 18px;
                    position: absolute;
                    right: 0;
                    top: 3px;
                    cursor: pointer;
                    font-weight: bold;
                    &:before {
                        color: #fff;
                        font-size: 17px;
                    }
                }
            }

    }
    .col-1 {
        .popup-filter {
            background: $dBlue;
            .mbHeaderLogo {
                a {
                    span {
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }
        }

        // Mobil Filtre

        .kutuOzellikFiltre {
            .kutuBodyOzellikFiltre {
                #dvUrunKiyaslamaOzellik {
                    padding:0 20px;
                }
                .urunKiyaslamaOzellik_ozellik {
                    .urunKiyaslamaOzellik_ozellik {
                        margin-bottom:10px;
                    }
                    .urunKiyaslamaOzellik_ozellikAd {
                        font-size: 18px;
                        font-family: $fD;
                        &:before {
                            content: "\e933";
                            font-family: 'icomoon';
                            font-size: 11px;
                            color: #b7b7b7;
                            position: absolute;
                            top: 26px;
                            right: 10px;
                        }
                        &.kapali {
                            &:before {
                                content: "\e936"; 
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_ozellikIcerik {
                        padding: 0 0 15px 20px;
                        a.urunKiyaslamaOzellik {
                            &.link_selected {
                                .urunKiyaslamaOzellik_ozellikImgAd {
                                    font-family: $fM;
                                    color: $title;
                                }
                            }
                        }
                    }
                }
            }
            .kutuFooterOzellikFiltre {
                height: 42px;
                .urunKiyaslamaOzellik_tumunuTemizle {
                    position: fixed;
                    width: 100%;
                    bottom: 0;
                    background: #fff;
                        a {
                            border: 0;
                            font-family: $fM;
                            font-size: 18px;
                            color: $dBlue; 
                        }
                    }
                }
        }
    }
    .col-2 { 
        margin-left: 0;
        .ems-prd-list-count { 
            padding: 0px 20px !important;    
        }
    }
    .visilabs-widget.category-top-sellers {display:none !important;}
    .urnList {/*padding: 0 10px;*/}
    .ems-prd-list-prop {display:none;}
    .gosterim {display:none;}
    .urunKiyaslamaOzellik_secimler {display:none;} 
    .urunKiyaslamaOzellik_tumunuTemizle {
        position: static; 
        background: $vlightBg; 
        text-align: center; 
        width: 100%;
            a {
                padding: 12px;
                display: inline-block;
            }
        }

    // Liste Görünüm 3lü

    .ems-prd-list {
        .ems-inline {
            .ems-prd {
                width:33.333% !important;
                .listBottomBtn {
                    display:none;
                }
            }
        }
    }


    // Paging 
        .urunPaging {
            .urunPaging_pageNavigation {text-align: center; background: $vlightBg; padding: 40px 0 20px 0;}
            .tumunuGoster {
                width:100%; 
                max-width: 354px; 
                float: none; 
                margin: 20px auto 0 auto;
                padding: 14px;
                /*span {font-size: 18px;}
                &:hover {
                    background:$lightBlue;
                    border: 1px solid $lightBlue;
                    span {
                        color: #fff;
                    }
                }*/
                }
            .urunPaging_pageNavigation span[id$="lblPaging"] {
                display: inline-block;
                width: 100%;
                    .paging {
                        margin: 0 12px 10px 12px;
                    }
            }

            span.paging {
                /*width:50px;
                height: 50px;
                font-size:18px !important;
                padding: 12px 10px !important;*/
                }
                a {
                        /*font-size:18px !important;*/
                    }
        }
        .info-main {
            width:100%;
            float: none;
            padding: 0;
            max-width: 800px;
            padding: 40px 0 80px 0;
            margin:0 auto;
            ul {
                li {
                    display: inline-block;
                    vertical-align: top;
                    width:50%;
                    text-align: center;
                    margin-top: 0;
                    border-right: none;
                    &:nth-child(1), &:nth-child(2) {
                            margin-bottom: 60px;
                        }
                    img {
                        float: none;
                        display: inline-block;
                    }
                    span {
                        display: block;
                        margin-top: 22px;
                        font-size: 15px;
                        color: $marineBlue;
                        position: static;
                        transform: none;
                        padding: 0 10px;
                    }
                    &:nth-child(1), &:nth-child(2) {
                        margin-top: 0;
                    }
                }
            } 
        }

        .ems-prd-inner:hover .listeGrup {display:none !important;}
        &.search-page {
            .catDesc {
               margin-top: 0;      
            }
        }
}


// Landing Page en çok satan ürünler

    .ems-content-landing-page {
        padding: 0;
        .lTitle { 
            padding: 0 20px;
        }
        .popular-link {
            ul {
                li {
                    width: 33.333%;
                    margin-bottom: 20px;
                    display: inline-block;
                }
            }
        }
    }

    .cat1s {
        .cat1sCats {
            ul {
                li {
                    width: 25%;
                }
            }
        }
        .catTags {
            padding: 20px;
        }
    }

    .top-sellers-category-widget {
        .swiper-inner {
            ul.swiper-wrapper {
                li {
                    width: 33.333% !important;
                    .ems-prd-inner:hover:before {
                        display: none;
                    }
                }
            }
        }
    }

body.mobi-menu-ready, body.filter-popup-animate, body.sort-popup-ready {
        overflow: hidden;
} 


    .filter-popup-animate {
    .page-list {
            .col-1 {
            bottom: 0;
            left: 0;
            padding: 0px;
            .kutuKategori {
                display:none;
                    ul {
                        padding: 0;
                    li.s2, li.s1 {
                        a {
                            font-size: 18px !important;
                            font-weight: normal;
                            font-family: $fontSite !important;
                            padding: 18px 22px;
                            margin: 0;
                            position: relative;
                            border-bottom: 1px solid $borderColor;
                        }
                    }

                    b:before {
                        display:none;
                    }
                    li.sub-items {
                        >  a:after {content: "\e914";
                                    font-family: 'icomoon';
                                    font-size: 14px;
                                    color: #bcc7d5;
                                    position: absolute;
                                    right: 20px;
                                    top: 22px;
                                    }
                        &.opened {
                                >  a:after {content: "\e901";
                                    }
                                }
                            }

                        }
                }

            }
            .pnlUrunKiyasSecim {
                display:block;
                .urunKiyaslamaOzellik_tumunuTemizle {
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    padding: 20px 0;
                    text-align: center;
                    top: auto;
                    background: #fff;
                    z-index: 999;
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .sort-popup-animate {
        .page-list {
            .popup-sort {
            bottom: 0;
            padding: 0px;
            }
            
        }
    }

.prdBottomInfo {display:none;}

}

@media screen and (max-width:780px) {
 // Landing Page en çok satan ürünler

    .ems-content-landing-page {
        .popular-link {
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }
    .cat1s {
        .cat1sCats {
            ul {
                li {
                    width: 33.333%;
                }
            }
        }
    }
}

@media screen and (max-width:640px) {

.page-list {
    .urnList {padding: 0;}
    .col-2 {
        .ems-prd-list {
            padding: 0; 
        }
    }

    .ems-prd-list {
        .ems-inline {
            .ems-prd {
                width:50% !important;
                .ems-prd-description {display: none !important;}
            }
        }
    }
        .popular-link ul li {
            width:33.333%; 
            margin-bottom: 20px;
            display:inline-block; 
        }
    }

    // Landing Page en çok satan ürünler

    .cat1s {
        .cat1sCats {
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }

    .top-sellers-category-widget {
        .swiper-inner {
            ul.swiper-wrapper {
                li {
                    width: 50% !important;
                }
            }
        }
    }

}

@media screen and (max-width:500px) {
    .page-list {
        .popular-link {
            margin-bottom: 0;
            ul {
                li {
                    width: 50%;  
                }
            }
        }
    }
}


