.site-header {
    position: relative;
    height: 140px;
    &-wrapper {
        display:inline-block;
        width:100%;
        position: fixed;
        z-index: 20;
    }
    &-inner {
        position:relative;
        .logo {
            text-align: center;
            a { display: inline-block; }
        }
        .ems-row {
            .ems-col{
                display: inline-block;
                vertical-align: top;
            }
            .ems-col-1 {
                width: 300px;
                float: left;
            }
            .ems-col-2 {
                width: calc(100% - 600px);
            } 
            .ems-col-3 {
                width: 300px;
                float: right;
                .lng, .lng-wrp{
                        display: inline-block;
                        vertical-align: top;
                    &-wrp{
                        .dropdown {
                            > span{
                                background: none;
                                padding: 0;
                                height: auto;
                                line-height: 1;
                                .lng{
                                    letter-spacing: 2px;
                                    font-size: 15px;
                                    background: none;
                                }
                            }
                            ul {
                                display: none;
                            }
                        }
                    }
                }
            }
            &.ems-row-1 {
                padding: 30px 0 15px 0;
            }
            &.ems-row-2 {
                padding-bottom: 20px;
            }
        }
    }
    .mobile-account-corporate, .mobile-account-member {
        display: none;
    }
    .mobile-account-member {
        background: $dBlue;
        ul{
            li{
                &.mlogoff-account, &.mlogin-account{
                    display: none;
                    i, span { display: inline-block; vertical-align: middle; }
                    i:before { font-size:20px; color:#ffffff; }
                }
                a{
                    display: block;
                    padding: 19px 60px 18px 25px;
                    span{ color: #ffffff; font-size: 18px; margin-left: 15px; }
                }
                &.catBack {
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    top: 0;
                    a {
                        padding: 0;
                        width: 60px;
                        height: 59px;
                        line-height: 59px;
                        text-align: center;
                        i{line-height: 59px;}
                        i:before{
                            color: #ffffff;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .mobile-account-corporate {
        padding-bottom: 60px;
        ul {
            &.ul-top {background: $lBlue;}
            &.ul-bottom {background: $title;}
            li{
                display: none;
                a{
                    display: block;
                    padding: 18px 27px;
                    i{ display: inline-block; margin-right: 30px; vertical-align: middle; }
                    span{ font-size: 18px; color: #ffffff; vertical-align: middle; display: inline-block; }
                }
                &.memeber-link {
                    a {
                        background: $lBlue;
                        i{
                            &:before{
                                color: #ffffff;
                                font-size: 23px;
                            }
                        }
                    }
                }
                &.corporate-link{
                    a {
                        background: $title;
                        i{
                            &:before{
                                color: #ffffff;
                                font-size: 23px;
                            }
                        }
                        i.icon-ico_cargo:before{
                            font-size: 23px;                            
                        }
                        i.icon-ico_favori2:before{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

/*Header Kategori Menü*/
.nav-main {
    .cat-menu-holder {
        ul{ display: table; width: 100%; }
        ul li{ display: table-cell; vertical-align: top; }
        ul li a{ display: inline-block; letter-spacing: 2px; color: $colorDefault; padding: 10px; }
        ul li:first-child a{ padding-left: 0; }
        ul li:last-child a{ padding-right: 0; }
    }
    .cat-menu {
        position:absolute;
        background:#ffffff;
        margin: 10px 0 0 170px;
        min-height: 609px;
        max-width: 1070px;
        left: 0;
        z-index: 20;
        display: none;
        &-top-link{
            max-width: 300px;
            width: 100%;
            display: table;
            table-layout: fixed;
            border-bottom: 1px solid $borderColor;
            border-right: 1px solid $borderColor;
            z-index: 20;
            position: relative;
            li{
                display: table-cell;
                vertical-align: middle;
                a { 
                    font-size: 12px; 
                    color: $dBlue; 
                    font-family: $fM; 
                    display: block; 
                    text-align: center; 
                    padding: 18px 0; 
                    &:hover {
                        color: $lBlue;
                    }
                }
            }
            li.catBack { display: none; }
        }
    }
}

/* Mobile Header */
.ems-smart-header { display: none; }

.mbHeader {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    padding:15px 0px 14px 0px;
    background: $dBlue;
    z-index: 50;
    .mBurger {
        width: 65px;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
            a {
                display: inline-block;
                &:before {
                    content:'\e91a';
                    font-family: 'icomoon';
                    font-size:25px;
                    color: #ffffff;
                }
            }
    }
    .mbCart {
        width: 65px;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-right: 15px;
            a {
                display: inline-block;
                position: relative;
                    &:before {
                    content: "\e901";
                    font-family: 'icomoon';
                    font-size: 25px;
                    color: #ffffff;
                    }
                    b {
                        position: absolute;
                        top: -5px;
                        right: -15px;
                        background: $red;
                        width: 20px;
                        height: 20px;
                        line-height: 21px;
                        border-radius: 100%;
                        text-align: center;
                        display: block;
                        font-size: 14px;
                        color: #fff;
                        font-family: $fD;
                        font-weight: normal;
                    }
            }
    }
    .mbSearch {
        width: 65px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        a {
            position: relative;
            top: 0;
            @include transition(all .32s ease);
            &:before{
                content: "\e924";
                font-family: 'icomoon';
                font-size: 20px;
                color: #ffffff;
                font-weight: normal;
            }
        }
    }
    .mbLogo {
        width: auto;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        .logo{
            float: none;
        }
        a{
            display: inline-block;
            max-width: 100px;
            margin: 0;
            @include transition(all 0.32s ease);
            position: relative;
        }
    }  
}

.basket-empty .mbHeader .mbCart a b {display:none;}

// Sayaç Banner


.ems-smart-campaign { 
    height: 60px;
    position: relative;
    z-index: 20;
    @include transition(all 0.2s ease); 
    display: none; 
    .countdown-banner {
        position: fixed;
        width: 100%;
        padding: 9px 0px; 
        display: inline-block;
        background:url(#{$baseHref + "/UPLOAD/BANNER/sayac/sayac.png"}) center top repeat-x;
        overflow: hidden;
        height: 60px;
        .counter-banner-title {
            width: auto;
            margin-right: 260px;
            height: 40px;
            vertical-align: middle;
            display: table-cell;
            background: rgba(255,255,255,0.8);
            padding-right: 5px;
            span.opportunity {
                font-family: $fM;
                font-size: 24px;
                color: $green;
                position: relative;
                padding-left: 35px;
                &:before {
                    content: "\e903";
                    font-family: 'icomoon';
                    font-size: 30px;
                    color: $green;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                    animation-delay: 10s;
                    animation-duration: 8s; 
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                }

                @keyframes shake {
                    0% { transform: rotate(0); }
                    1% { transform: rotate(30deg); }
                    3% { transform: rotate(-28deg); }
                    5% { transform: rotate(34deg); }
                    7% { transform: rotate(-32deg); }
                    9% { transform: rotate(30deg); }
                    11% { transform: rotate(-28deg); }
                    13% { transform: rotate(26deg); }
                    15% { transform: rotate(-24deg); }
                    17% { transform: rotate(22deg); }
                    19% { transform: rotate(-20deg); }
                    21% { transform: rotate(18deg); }
                    23% { transform: rotate(-16deg); }
                    25% { transform: rotate(14deg); }
                    27% { transform: rotate(-12deg); }
                    29% { transform: rotate(10deg); }
                    31% { transform: rotate(-8deg); }
                    33% { transform: rotate(6deg); }
                    35% { transform: rotate(-4deg); }
                    37% { transform: rotate(2deg); }
                    39% { transform: rotate(-1deg); }
                    41% { transform: rotate(1deg); }

                    43% { transform: rotate(0); }
                    100% { transform: rotate(0); }
                }



            }
            span.content {
                font-size: 24px;
                color: $text;
            }
            span.price {
                font-size: 24px;
                font-family: $fM;
                color: $green;
                &:before {
                        content: 't';
                        font-family: 'tl';
                        font-size: 22px;
                        font-weight: normal;
                        display: inline-block;
                }
            }
        }
        .countdown-wrp {
            float: right;
            background: $green;
            border-radius: 3px;
            padding: 10px 20px;
            max-width: 300px;
            display: inline-block;
            > span {
                font-family: $fM;
                font-size: 18px;
                color: #fff;
                float: left;
                position: relative;
            }
            i {
                position: relative;
                width: 55px;
                display: inline-block;
                &:after {
                    content: '\e942';
                    font-family: 'icomoon';
                    font-size: 30px;
                    color: #fff;
                    position: absolute;
                    margin-left: 10px;
                    top: -4px;
                }
            }
            .countdown {
                float: right;
                .countdown_row {
                    span {
                        font-family: $fM; 
                        font-size: 18px;
                        color: #fff;
                    }
                    .countdown_section {
                        display: inline-block;
                        float: left;
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
        .countdown-close {
            float: right;
            padding: 14px 0 14px 12px;
        }
    }
}

/*Açılır Menü Akış Fixleme*/
@media screen and (max-width:1260px) {
    .nav-main{
        .cat-menu-holder{
            .cat-menu{
                margin-left: 0;
                &-top-link{max-width: 310px; }
                &-lvl-1 > li > a { max-width: 310px; }
                &-lvl-2 { 
                    max-width: 1240px;
                        &:before {
                            left: 309px !important;
                        } 
                    }
            }
        }
        .cat-menu-holder.opened{
            .cat-menu{ 
                width: 100%; max-width: 1240px; 
                transform:none !important;
            }
        }
    }
}

/*Mobile Geçiş*/
@media screen and (max-width:$breakpointSM) {
    .site-header {
        /*@include transition(all .32s ease);*/
        &-inner {
            padding: 0 20px;
        }
        .ems-col {
            float: none;
        }
        .ems-col-1 {
            width: 100%;
            position: fixed;
            height: 100%;
            top: 0;
            left: -100%;
            will-change: left;
            background: #ffffff;
            @include transition(left .32s ease);
            z-index: 50;
            .logo{
                display: none;
            }
        }
        .ems-col-1, .ems-col-2{
            display: none;
        } 
        .ems-col-3 {   
            width: 100%;
            overflow: hidden;
            height: 0;
            /*@include transition(all .32s ease);*/
        }
        .mobile-account-corporate{
            display: block;
        }
    }

    // Arama Açık 

    .search-fixed-ready {
        .site-header {
            height: 70px;
            &-wrapper {
                top: 0;
            }
            .ems-col-3 {
                height: 65px;
                overflow: visible;
            }
            /*.mbHeader .mbSearch {display:none;}*/
        }
        /*.vailSearch {
            visibility: visible;
            opacity: .3;
        }*/
    }
    .search-focused {
        .site-header-wrapper {
            position: fixed; 
            top: 0;
        }
    } 
    .search-fixed-ready{
        .mbHeader {
            .mbSearch{
                top: -50px;
            }
        }
    }
    /*Mobile login & logoff olma durumu*/
    .ems-logoff {
        .mobile-account-member {
            display: block;
            ul {
                li.mlogoff-account {
                    display: block;
                    i.icon-ico_userMobil:before { color:#ffffff; font-size:20px; }
                }
            }
        }
        .mobile-account-corporate {            
            ul{
                li.corporate-link{ display: block; }
            }
        }
    }
    .ems-login {
        .mobile-account-member {
            display: block;
            ul {
                li.mlogin-account { display: block;}
            }
        }
        .mobile-account-corporate {            
            ul{
                li{ display: block; }
            }
        }
    }
    
    /*Kategori Menu*/
    .nav-main{
        float: none;
        width: 100%;
        .btn-cat-menu {
            display: none;
        }
        .cat-menu-holder{
            margin: 0;
            .cat-menu{
                display: block;
                max-width: 100%;
                margin: 0;
                min-height: 100%;
                height: calc(100% - 0px);
                width: 100%;
                overflow: auto;
                border-radius: 0;
                &-top-link{
                    max-width: 100%;
                    background: $vlightBg;
                    border: none;
                    li a{
                        font-size: 14px;
                        padding: 21px 0;
                    }
                }
                &-lvl-1 {
                    > li.selected .cat-menu-lvl-2{ right:0; }
                }
                &-lvl-1 > li > a {
                    max-width: 100%;
                    border: none;
                    font-size: 18px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    &:after{
                        content:'\e935';
                        font-family: 'icomoon';
                        font-size: 12px;
                        color: $sText;
                        position: absolute;
                        top: 50%;
                        right: 25px;
                        margin-top: -6px;
                        @include transition(all .2s ease);
                    }
                    &:hover{
                        &:after{
                            color: #ffffff;
                        }    
                    }
                }
                &-lvl-2 {
                    min-width: inherit;
                    padding: 0;
                    display: block;
                    right: -100%;
                    left: inherit;
                    max-width: 100%;
                    min-height: 100%;
                    height: 100%;
                    position: fixed;
                    @include transition(right .32s ease);
                    will-change: right;
                    z-index: 100;
                    background: #ffffff;
                    .cat-list > ul {
                        position: absolute;
                        top: 60px;
                        left: 0;
                        width: 100%;
                        height: calc(100% - 60px);
                        overflow: auto;
                    }
                    &-back {
                        display: table;
                        width: 100%;
                        height: 60px;
                        table-layout: fixed;
                        background: $dBlue;
                        text-align: center;
                        i.mobile-header-back{
                            cursor: pointer;
                            display: table-cell;
                            vertical-align: middle;
                            width: 60px;
                            text-align: center;
                            &:before{
                                content:'\e934';
                                font-family: 'icomoon';
                                font-size: 15px;
                                color: #ffffff;
                            }
                        }
                        .mobile-header-close {
                            display: table-cell;
                            vertical-align: middle;
                            width: 60px;
                            text-align: center;
                            .icon-ico_close:before{
                                color: #ffffff;
                                font-size: 18px;
                            }
                        }
                        span{
                            display: table-cell;
                            vertical-align: middle;
                            width: auto;
                            color: #ffffff;
                            font-size: 18px;
                        }
                    }
                    .cat-list > ul > li {
                        width: 100%;
                        display: table;
                        table-layout: fixed;
                        margin-bottom: 0;
                        border-bottom: 1px solid $lightBg; 
                        padding: 10px 20px 10px 20px;
                    }
                    .prd-img, .prd-content{ display: table-cell; vertical-align: middle; }
                    .prd-img { float: inherit; }
                    .prd-content{ padding: 0; }
                    .cat-name {
                        a{
                            font-size: 18px;
                            color: $text;
                            padding:15px 20px;
                            position: relative;
                            &:after{
                                content:'\e935';
                                font-family: 'icomoon';
                                font-size: 12px;
                                color: $sText;
                                position: absolute;
                                top: 50%;
                                right: 5px;
                                margin-top: -6px;
                                @include transition(all .2s ease);
                            }
                        }
                    }
                    .prd-brands {
                        display: block;
                        position: fixed;
                        top: 0;
                        right: -100%;
                        width: 100%;
                        max-height: 100%;
                        padding: 0;
                        height: 100%;
                        @include transition(right .32s ease);
                        will-change: right;
                        z-index: 105;
                        background: #ffffff;
                        overflow: visible;
                        .all-cat-links, .cat-menu-lvl-3-back{ display: table; width: 100%; }
                        .all-cat-links{
                            a.cat-links{
                                font-family: $fM;
                                font-size: 18px;
                                color: $title;
                                display: block;
                                padding: 19px 40px 19px 20px;
                                position: relative;
                                border-bottom: 1px solid $lightBg;
                                i.icon-ico_arwRight{
                                    font-size: 10px;
                                    color: $title;
                                    position: absolute;
                                    top: 50%;
                                    margin-top: -6px;
                                    right: 20px;
                                    width: 12px;
                                    height: 12px;
                                    &:before{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        .cat-menu-lvl-3-back {
                            background: $dBlue;
                            text-align: center;
                            height: 60px;
                            i.mobile-header-back{
                                cursor: pointer;
                                display: table-cell;
                                vertical-align: middle;
                                width: 60px;
                                text-align: center;
                                &:before{
                                    content: '\e934';
                                    font-family: 'icomoon';
                                    font-size: 15px;
                                    color: #ffffff;
                                }
                            }
                            a.mobile-header-close{
                                display: table-cell;
                                vertical-align: middle;
                                width: 60px;
                                text-align: center;
                                i.icon-ico_close{
                                    &:before{
                                        color: #ffffff;
                                        font-size: 18px;
                                    }
                                }
                            }
                            span{ 
                                display: table-cell;
                                vertical-align: middle;
                                width: auto;
                                color: #ffffff;
                                font-size: 18px;
                            }
                        }
                        ul{
                            position: absolute;
                            top: 120px;
                            left: 0;
                            width: 100%;
                            height: calc(100% - 122px);
                            overflow: auto;
                            li{
                                width: 100%;
                                vertical-align: top;
                                a{ 
                                    font-size:18px;
                                    font-family: $fD;
                                    padding: 19px 20px;
                                    border-bottom: 1px solid $lightBg;
                                    &:before{ display: none; }
                                }
                            }
                        }
                    }
                    &:before {
                        display:none;
                    }
                }
            }
            &.lvl-2-opened {
                .mobile-account-member { display: none; }
            }
        }
    }

    .mobi-menu-closed .nav-main .cat-menu-holder .cat-menu-lvl-1 > li.selected .cat-menu-lvl-2, 
    .mobi-menu-closed .nav-main .cat-menu-holder .cat-menu-lvl-2 .selected > .prd-content .prd-brands{right:100%;}

    
    body.body-home-page {
        .site-header{
            .ems-col-3 {
                height: 65px;
                overflow: visible;
            }    
        }
    }
    body.search-focused{
        .site-header{
            .ems-col-3 {
                padding-top: 20px;
                height: 85px;
                overflow: visible;
            }    
        }
    }    
    /*Menu Animate*/
    body.mobi-menu-ready {
        overflow: hidden;
        .site-header {
            .ems-col-1 {
                display: block;
            }
        }
    }
    body.mobi-menu-animate {
        .site-header {
            .ems-col-1 {
                left: 0;
            }
        }
    }
    .vailMenu { display: none; }

    // Üst Sayaç Kapmanya Banner

    .ems-smart-campaign {
        .countdown-banner {
            .counter-banner-title {
                span {
                    font-size: 14px !important;
                    font-family: $fD !important;
                    &.opportunity {
                        padding-left: 0;
                        display: block;
                        &:before {
                            display:none;
                        }
                    }
                    &.price {
                        font-family: $fM !important;
                        &:before {
                            font-size: 12px;
                        }
                    }
                }
            }
            .countdown-wrp {
                max-width: 180px;
                > span {
                    display: none;
                }
                i {
                    width: 30px;
                    &:after {
                        margin: 0;
                        top: -2px;
                        left: 0px;
                        font-size: 20px;
                    }
                }
                .countdown {
                    .countdown_row {
                        span {
                            font-family: $fD; 
                            font-size: 14px;
                        }
                    }
                }
            } 
        }
    }
}