/*.catImg { 
    position:relative;
    display:none;
    .catBanner {
        position:absolute !important;
        @include vAlign;
        text-align: center;
        left: 0;
        right: 0;
        .catContent {
            display:inline-block;
            padding: 0 20px;
            span {
                font-size:50px;
                color:$marineBlue;
                background:rgba(255,255,255,0.6);
                padding: 15px 30px;
            }
            p {
                display:none;
                }
        }
    }
}

.catImg {
    position: relative; 
    &:first-child {display:inline-block;}
    img {float: left;}
}
*/

/* Ürün Liste Gösterim 

.gosterim {
    float:right;
    margin-right:36px;
    span {
        font-size:15px;
        color:$marineBlue;
        float: left;
        margin-right:15px;
        padding: 2px 0;
    }
     ul {
         float:left;
         li {
             float:left; 
             width:auto !important;
             a { 
                 width:34px; 
                 height:24px; 
                 display:block; 
                 margin-right:10px;
                 transition: none;
            }
         }
         li:last-child {
               a{ margin: 0;}
            }
         li.ikili {
             a {
                background:url(#{$baseHref + "/images/frontend/listView.png"}) 0px 0px no-repeat;
                &:hover {background-position: 0 -26px;}
             }
             &.selected a {background-position-y: -26px;}
         }

         li.uclu {
             a {
                background:url(#{$baseHref + "/images/frontend/listView.png"}) -44px 0px no-repeat;
                &:hover {background-position: -44px -26px;}
             }
             &.selected a {background-position-y: -26px;}
         }
         li.dortlu {
             a {
                background:url(#{$baseHref + "/images/frontend/listView.png"}) -88px 0px no-repeat;
                &:hover {background-position: -88px -26px;}
             }
             &.selected a {background-position-y: -26px;}
         }
     }
}

*/


/* Page List
.page-list {
    .row-2 {
        width:100%;
        padding:15px 0 12px 0;
        border-bottom: 1px solid #d8d8d8;
        display: inline-block;
        .ems-prd-list-sort {
            float:right; 
            margin: 0 25px 0 0;
            max-width: 145px;
                select {
                    font-size: 15px;
                    color: $marineBlue;
                    padding: 0;
                    border: 0;
                    cursor: pointer;
                }
            }
 */

        /* Filter List 
        .mobile-filter {display:none;}
        .ems-prd-list-sort-btn {float:right;}
        */

        /* List Short 

        .popup-sort {
            display:none;
            .popup-header {
                width: 100%;
                border-bottom: 1px solid #d8d8d8 !important;
                height: 80px;
                display: table;
                    .mbHeaderLogo {
                        display: table-cell;
                        vertical-align: middle;
                            span {
                                margin-left: 20px;
                                font-size: 36px;
                            }
                    }
            }
            a.btn-close {
                float: right;
                padding: 28px;
                    i:before {
                        content: "\e905";
                        font-family: 'icomoon';
                        font-size: 20px;
                        float: right;
                    }
            }
            .popup-body {
                ul {
                    li {
                        border-top: 1px solid #d8d8d8;
                        a {
                            font-size: 18px;
                            padding: 18px 20px;
                            width: 100%;
                            display: block;
                            &:before {
                                content: '';
                                width: 15px;
                                height: 15px;
                                background-color: #bcc7d5;
                                display: inline-block;
                                margin-right: 10px;
                            }
                        }
                        &:first-child {
                            border: 0;
                        }
                        &.selected {
                            a {
                                &:before {
                                    background-color: #0262b7;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    .col-1 {
        width:210px;
        float:left;
        .mobile-filter-control {display:none;}
    }
    .col-2 {
        width:auto;
        margin-left:230px;
        display:block;
        text-align: right;
        .urnList {text-align:center;}
        .ems-prd-list {
            max-width: 960px;
            width: 100%;
            display: inline-block;
            padding-top: 40px;
            text-align: left;
            .ems-prd-list-sort {
                display:none;
            }
            .ems-inline {
                .ems-prd-description {display:none;}
            }
            .prdSortMenu {display:none;}
        }
    }
    & .info-main {
       margin-bottom: 50px;
    }
}

*/

/* Product List li 
.ems-prd {
        max-width: none !important; 
        max-height: none !important;
        margin-bottom:35px;
        &:hover {
            z-index: 1;
            position: relative;
            }
        & img {width:100%;}

        & .listeFavori {
            position:absolute; 
            width:36px; 
            height:36px; 
            background: #fff; 
            left: 10px; 
            bottom:-40px;
            border: solid 1px #d8d8d8;
            border-radius: 100%;
            transition: all 0.32s ease;
            & a {
                display: inline-block;
                width: 100%;
                    &:before {
                        content: "\e907";
                        font-family: 'icomoon';
                        font-size: 19px;
                        color: $lightBlue;
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        padding: 8px 0;
                        position: relative;
                        @include transition(all 0.2s ease);
                        -webkit-backface-visibility: hidden;
                    }
                    &.selected:before {
                        content: "\e917";
                        color: #d75c95;
                    }
                    &:hover:before {
                        @include setTransform(scale(1.2));
                    }
                }
            }
        &:hover .listeFavori {
            bottom:10px;
            @include userSelectNone;
        }
        &-inner {
            text-align: left;
            border:0 !important;
            border-bottom: 1px solid #d8d8d8 !important;
            margin: 10px 9px 8px 9px !important;
            background: #fff;
            position: relative;
            font-family: $fontSite;
            margin: 10px 5px;
            padding-bottom: 10px;
            box-shadow: 7px 7px 10px -10px transparent;
            &:hover {box-shadow: 2px 2px 10px 0px rgba(0,0,0,.3) !important;}
            &:hover .listeGrup {display:block; height:auto; overflow: inherit; position: relative;}
            .ems-prd-name {
            font-family: $fontDefault !important;
            font-size:16px !important;
            color: $marineBlue !important;
            line-height: 1 !important;
            font-weight: normal !important;
            margin:14px 10px 40px 10px;
            height:34px !important;
            }
            .ems-prd-price {
                color: $marineBlue !important;
                margin:34px 10px 0 10px !important;
                height: 28px !important;
                overflow: hidden;
                line-height: 1;
                * div:before {
                    content: 't';
                    font-family: 'tl';
                    font-size: 16px;
                    font-weight: normal;
                    display: inline-block;
                }
                .ems-prd-price-first {
                    position:relative;
                    float: left;
                    text-decoration:none;
                    &:before {
                    position: absolute;
                    content: "";
                    z-index:1;
                    left: 0;
                    top: 50%;
                    right: 0;
                    border-top: 1px solid;
                    border-color:#acacac;
                    -webkit-transform: rotate(15deg);
                    -moz-transform: rotate(15deg);
                    -ms-transform: rotate(15deg);
                    -o-transform: rotate(15deg);
                    transform: rotate(15deg);
                    }
                }
                .ems-prd-price-selling {
                    float:left;
                    margin:0;

                }

                .urunListe_brutFiyat {
                    color:#acacac;
                    font-size:24px;
                    font-weight: bold;
                    span.d {
                        vertical-align: top;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                    }
                }
                .urunListe_satisFiyat {
                    font-size:24px;
                    font-weight: bold;
                    span.d {
                        vertical-align: top;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                    }
                }
            }

        }
}

*/

/* List View 

.ikili .urnList li.ems-prd {
    width:50% !important;
    &:hover {
        margin-bottom:-100px;
    }
}
.uclu .urnList li.ems-prd {
    width:33.333% !important;
    &:hover {
        margin-bottom:-100px;
    }
}
.dortlu .urnList li.ems-prd {
    width:25% !important;
    &:hover {
        margin-bottom:-100px;
    }
}
*/

 /* List Icon 
 .ems-prd-wrp {
    position: relative;
    overflow: hidden;
    margin: 0 !important;

}
*/

/*
.ems-prd-icons {
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: -42px;
        top: 33px;
        left: inherit !important;
        max-width: 150px;
        margin: 0;
        color: #fff;
        font-size:12px;
        line-height: 14px;
        font-family: $fontSite;
        text-align: center;
        width: 100%;
        display: table !important;
    & > div {
        display: table-cell;
        vertical-align: bottom;
        background: #bb0300; 
        padding: 37px 35px 1px 35px;
        height: auto;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        &.urunListe_urunStokUyari {
            padding: 0;
            bottom: -1px;
            z-index: 6;
            span {
                background: #a1a1a1;
                padding: 37px 35px 1px 35px;
                }
        }
        &.urunListe_indirimUyari {
            bottom: 0;
        }
        &.urunListe_pnlIndirimOran {
            z-index: 4;
        }
        &.urunListe_yeniUrun {
            display: block !important;
            background: #d75c95;
        }
    }
            .urunListe_indirimUyari {
                text-indent: -9999px;
                display:none;
                .listSticker {
                    text-indent: 0;
                    float: left;
                    width: 100%;
                }
            }
            .urunListe_urunStokUyari {

                span[id$="lbfURN_AYNIGUNKARGO"] {display:none;}
            }
            .urunListe_pnlIndirimOran {
                display: table-cell !important;
                    span {
                        display:block;
                    }
                }
}
.ems-prd-detail {
    .ems-prd-icons {
        right: -50px !important;
        top: 0px !important;
        padding: 45px 35px 5px 35px;
        span { 
            display: table-cell;
            vertical-align: bottom;
            background: #bb0300; 
            padding: 45px 35px 5px 35px; 
            height: auto;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            font-size: 13px;
        }
        span[id$="lbfYeniUrun"] {
            display: block !important;
            background: #d75c95; 
        }
        span[id$="lbfURN_AYNIGUNKARGO"] {display:none;}
        span[id$="lbfURN_STOKTAYOK"] {
            background: #a1a1a1;
            padding: 45px 35px 5px 35px;
        }
        &:before, &:after {
            font-size: 14px !important;
            padding: 45px 35px 5px 35px !important;
        }
    }
}

.spr13 {
    .ems-prd-icons {
        &:after {
            content:'KARGO BEDAVA';
            display: table-cell;
            vertical-align: bottom;
            padding: 45px 35px 1px 35px;
            background: #ffba00;
            height: auto;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            vertical-align: bottom;
            z-index: 3;
        }
    }
}
.spr4 {
    .ems-prd-icons {
        &:before {
            content:'ÖZEL FİYAT';
            display: table-cell;
            vertical-align: bottom;
            padding: 45px 35px 1px 35px;
            background: #0262b7;
            height: auto;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            vertical-align: bottom;
            z-index: 5;
        }
    }
}
*/

/* İndirim Fiyat

.ems-prd.indirimli {
    .ems-prd-price {
        .ems-prd-price-first {
            top:4px;
        }
        .urunListe_satisFiyat {
            font-size: 30px;
            span.d {
                font-size:20px;
            }
        }
        .ems-prd-price-selling {
            float:right;
            font-size:30px;
            color:#bb0300;
        }
    } 
}

*/

/* Paging 
    .urunPaging {
        span.paging {
            width:40px;
            height:40px;
            border:1px solid #0262b7 !important;
            border-radius:100%;
            color:$lightBlue !important;
            font-size:16px !important;
            padding: 8px 10px !important;
            margin: 0 8px;
            vertical-align: middle;
            position: relative;
            top: -3px;
        }
        a {
            font-size:16px !important;
            color:$marineBlue !important;
            margin: 0 8px;
            &:hover {
                color:$lightBlue !important;
            }
        }
        a[id$="lnkNext"] {display:none;}
        .tumunuGoster {
            display:inline-block !important;
            float:right; 
            font-size: 15px !important;
            font-family: "DM";
            border: 1px solid #bcc7d5;
            padding: 9px;
            width: 100%;
            max-width:200px;
            color: $marineBlue;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            &:hover {
                background:$lightBlue;
                border: 1px solid $lightBlue;
                span {
                    color: #fff;
                }
            }
        }
    }
*/

/* List Group 

.prdList li:hover .listeGrup {display:block; }
.listeGrup {width: 100%; margin:0 !important; height:0; overflow: hidden;}
.listeGrup .listeGrupKapsayici {position: relative;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .bulletWrapper{display:none;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper{width:100%; padding:0px 20px;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller{width:100%; overflow:hidden;position:relative;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller > ul{position:relative; padding-top:5px; display: inline-block;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller > ul > li{float:left; min-height: inherit; display: inline-block;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller > ul > li a {padding: 4px; display: inline-block;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller > ul > li a img {width:100%; display:none;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller > ul > li a .URN_KISAAD {display:inline-block !important; font-size: 14px; white-space: nowrap; padding: 5px; border: 1px solid $borderColor;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper .scroller > ul > li a:hover .URN_KISAAD {color: $lightBlue; border: 1px solid $lightBlue;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper a {}
.listeGrup .listeGrupKapsayici .iscroll-wrapper a span{display: none;}
.listeGrup .listeGrupKapsayici .iscroll-wrapper a.prev-btn {
                                                position: absolute; 
                                                left:0px;
                                                top: 12px;
                                                padding: 5px;
                                                &:after {
                                                    content: '\e90c'; 
                                                    font-family: 'icomoon'; 
                                                    font-size: 12px; 
                                                    color: #bcc7d5;
                                                    }
}
.listeGrup .listeGrupKapsayici .iscroll-wrapper a.next-btn {
                                                position: absolute; 
                                                right:0px;
                                                top: 12px;
                                                padding: 5px;
                                                &:after {
                                                    content: '\e914'; 
                                                    font-family: 'icomoon'; 
                                                    font-size: 12px; 
                                                    color: #bcc7d5;
                                                    }
}


*/

/* Liste Açıklama Alt 

.listContent {
    display: none;
    span {
        font-size:16px;
        line-height: 20px;
        color:$marineBlue;
        margin: 45px auto 100px auto;
        display: block;
        padding: 0 20px;
        max-width: 980px;
        width: 100%;
    }
    
}
*/

/* Visilabs Öne Çıkan Ürünler 

.visilabs-widget.widget-active {display:inline-block !important;}
.visilabs-widget.category-top-sellers {
  
    border: 1px solid $borderColor;
    margin-top: 50px;
    padding: 10px;
        .bx-wrapper {
            max-width:675px !important;
            margin:  auto;
        }
        .swiper-wrapper {
            background: #f0f3f5;
            .swiper-title {
                border: 0;
                background: #f0f3f5;
                position: relative
                &:before {
                    content:'';
                    width:100px;
                    height: 42px;
                    background:url(#{$baseHref + "/images/frontend/oneCikan.png"}) no-repeat;
                    position: absolute;
                    top: -32px;
                    left: 0;
                    right:0;
                    margin:0 auto;
                }
            }
            .swiper-inner {
                background: #f0f3f5;
            }
        }
        .bx-controls-direction a.bx-next {right:30px;}
        .bx-controls-direction a.bx-prev {left:30px;}
        .bx-default-pager {margin: 20px 0 !important;}
} 
*/

/* Search Page 

.search-page {
    .pageArama {
        text-align:left;
    }
    .tableArama, 
    .pageDescArama, 
    .pageHeaderArama, 
    .tblBtnAraIptal, 
    .tableTitleArama {
        display:none !important;
    }
}

@media screen and (max-width:960px) {
    .catImg {
        height: 170px;
        width: 100%;
        background-size:170px 100%;
        background-repeat: no-repeat;  
        &:last-child {
            float: left;
        }
        img {display:none;}
    }
    .page-list {
        position:relative;
        padding: 60px 0 0 0;
        .row-2 {
            border-top: 1px solid $borderColor;
            border-bottom: 1px solid $borderColor;
            padding: 0;
             .ems-prd-list-sort {
            float:right; 
            margin: 0;
            max-width: none;
            border-left: solid 1px $borderColor;
                select {
                    font-size: 15px;
                    color: $marineBlue;
                    padding: 0;
                    border: 0;
                    text-align-last:center; 
                }
            }
            .ems-prd-list-sort {
            max-width:none;
            width: 50%;
            margin: 0;
                select {
                    font-size: 18px;
                    font-family: $fontSite;
                    padding: 20px 0;
                }
            }
*/

            /* Filter List and List Sort 

            .ems-prd-list-sort {display:none;}

            .mobile-filter {
                display:inline-block;
                width: 100%;
                    .btn-filter {
                        float:left;
                        width:50%;
                        text-align: center;
                        font-size: 18px;
                        color: $marineBlue;
                        padding: 20px 0;
                        font-family: $fontSite;
                        border-right: 1px solid $borderColor;
                    }
                    .btn-sort {
                        float:right;
                        width:50%;
                        text-align: center;
                        font-size: 18px;
                        color: $marineBlue;
                        padding: 20px 0;
                        font-family: $fontSite;
                    }
                }
*/

                /* List Short 

                .popup-sort {
                    display:block;
                }
        }
        .col-1, .popup-sort {  
            position: fixed; 
            top: 0; 
            left:-100%; 
            @include transition(left 0.32s ease);
            -webkit-transition-timing-function:ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            z-index:112; 
            width:100%; 
            height:100%; 
            background-color: #f6f6f6;
            will-change: left;
            overflow-x: auto;
            .mobile-filter-control {
                .mobile-menu-close {
                    a.mobile-filter-btn {
                        
                    }
                }
            }

            .mobile-filter-control {
                width: 100%;
                border-bottom: 1px solid #d8d8d8 !important;
                height: 80px;
                display: table;
                .mbHeaderLogo {
                        display: table-cell;
                        vertical-align: middle;
                    span {
                        margin-left: 20px;
                        font-size: 36px;
                        }
                    }
                   .mobile-menu-close {
                        float: right;
                        padding: 28px;
                        i:before {
                            content: "\e905";
                            font-family: 'icomoon';
                            font-size: 20px;
                            float: right;
                        }
                    }
                }

        }
        .col-2 { 
            margin-left: 0;
        }
        .visilabs-widget.category-top-sellers {display:none !important;}
        .urnList {padding: 0 10px;}
        .gosterim {display:none;}
        .ems-prd-list {
            .ems-inline {
                .ems-prd {width:33.333% !important;}
            }
        }

*/

        /* Paging 
            .urunPaging {
                .tumunuGoster {
                    width:100%; 
                    max-width: 354px; 
                    float: none; 
                    margin: 50px auto 0 auto;
                    padding: 14px;
                    span {font-size: 18px;}
                    &:hover {
                        background:$lightBlue;
                        border: 1px solid $lightBlue;
                        span {
                            color: #fff;
                        }
                    }
                    }
                .urunPaging_pageNavigation span[id$="lblPaging"] {
                    display: inline-block;
                    width: 100%;
                }
                span.paging {
                    width:50px;
                    height: 50px;
                    font-size:18px !important;
                    padding: 12px 10px !important;
                    }
                    a {
                            font-size:18px !important;
                        }
            }
            .info-main {
                width:100%;
                float: none;
                padding: 0;
                max-width: 800px;
                padding: 40px 0 80px 0;
                margin:0 auto;
                ul {
                    li {
                        display: inline-block;
                        vertical-align: top;
                        width:50%;
                        text-align: center;
                        margin-top: 0;
                        border-right: none;
                        &:nth-child(1), &:nth-child(2) {
                                margin-bottom: 60px;
                            }
                        img {
                            float: none;
                            display: inline-block;
                        }
                        span {
                            display: block;
                            margin-top: 22px;
                            font-size: 15px;
                            color: $marineBlue;
                            position: static;
                            transform: none;
                            padding: 0 10px;
                        }
                        &:nth-child(1), &:nth-child(2) {
                            margin-top: 0;
                        }
                    }
                }
            }

            .ems-prd-inner:hover .listeGrup {display:none !important;}





    }
    .filter-popup-animate {
    .page-list {
            .col-1 {
            left: 0;
            padding: 0 20px;
                .kutuKategori {
                    display:none;
                        ul {
                            padding: 0;
                        li.s2, li.s1 {
                            a {
                                font-size: 18px !important;
                                font-weight: normal;
                                font-family: $fontSite !important;
                                padding: 18px 22px;
                                margin: 0;
                                position: relative;
                                border-bottom: 1px solid $borderColor;
                            }
                        }

                        b:before {
                            display:none;
                        }
                        li.sub-items {
                          >  a:after {content: "\e914";
                                        font-family: 'icomoon';
                                        font-size: 14px;
                                        color: #bcc7d5;
                                        position: absolute;
                                        right: 20px;
                                        top: 22px;
                                        }
                            &.opened {
                                  >  a:after {content: "\e901";
                                        }
                                    }
                                }

                         }
                    }

            }


        }

*/

        /* Filtre Özellik 

        .kutuOzellikFiltre {
                .kutuBodyOzellikFiltre {
                    
                .urunKiyaslamaOzellik_ozellik {
                    .urunKiyaslamaOzellik_ozellikAd {
                        font-family: $fontSite;
                        padding: 18px 20px 19px 20px;
                        &:before { 
                            font-size:14px;
                            top: 22px;
                        }
                    }
                    a.urunKiyaslamaOzellik {
                        font-size: 18px;
                        padding: 18px 20px;
                        width:100%;
                        border-top: 1px solid $borderColor;
                        display: block;
                        &:before {
                            width: 15px;
                            height: 15px; 
                        }
                    }
                    &.color {
                        a {
                            width: 60px;
                            height: 60px;
                            border: 0;
                            padding: 0;
                            background:#e3e3e3;
                            font-size: 0;
                            img {
                                width:100%;
                            }
                        }
                        tr:nth-child(5n + 1), tr:nth-child(5n) {
                            padding: 0 4px 10px 4px;
                        }
                        .urunKiyaslamaOzellik_ozellikIcerik {padding: 0 16px 30px 16px;}
                    }
                }
            }
        }
        .mobilAltMenu {display:none;}
    }

    .sort-popup-animate {
        .page-list {
            .popup-sort {
            left: 0;
            padding: 0 20px;
            }
            
        }
    }


}

@media screen and (max-width:680px) { 

    .page-list {
        .ems-prd-list {
            .ems-inline {
                .ems-prd {width:50% !important;}
            }
        }
    }

}
@media screen and (max-width:400px) { 

    .page-list {
        .ems-prd-list {
            .ems-inline {
                .ems-prd {width:100% !important; margin: 0 !important;}
            }
        }
    }

}

*/
