/*.page-detail {
    .row-1 {
        padding: 20px 0 15px 0;
        }
    .row-2 {
        .inner-row-1 {
            margin-top: 10px;
            padding-left: 140px;
            display: block;
            width: calc(100% - 425px);
            float: left;
            overflow: hidden;
            .thumb-gallery {
                .swiper-inner {
                    position:relative;
                    .imageSize {
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                        a {
                            display: block;
                            width: 40px;
                            height: 40px;
                            background: #fff;
                            border-radius: 100%;
                            padding: 11px;  
                            &:before {
                                content: "\e918";
                                font-family:'icomoon';
                                font-size: 18px;
                                font-weight: bold; 
                            } 
                        }
                    }
                    .bx-controls {display:none;}
                }
            }

        }
        .inner-row-2 {
            padding-top: 6px;
            width: 380px;
            float:right; 
        }
    }

    & .info-main {
        width:100%;
        float: none;
        padding: 0;
        max-width: 800px;
        padding: 40px 0 80px 0;
        margin:0 auto;
        ul {
            li {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                text-align: center;
                margin-top: 0;
                border-right: none;
                img {
                    float: none;
                    display: inline-block;
                }
                span {
                    display: block;
                    margin-top: 22px;
                    font-size: 15px;
                    color: $marineBlue;
                    position: static;
                    transform: none;
                    padding: 0 10px;
                }
                &:nth-child(1), &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }

*/

    /* Detail Share 

    .ems-tab .ems-tab-inner > .content-js > li.selected > .content {
        .detailShare {
            position: relative;
            display:block; 
            width: 100%;
            max-width: 150px;
            margin: 0 0 30px 50px;
            .ems-prd-social {
            position: absolute;
                a {
                    width:100%;
                    margin-top: -1px;
                    background: #fff;
                }
            }
        }
    }

    .detailShare {
            float:right;
            clear: both;
            display: none;
        & a {
            font-family: $fontSite;
            font-size:14px;
            line-height: 12px;
            padding:12px 20px; 
            letter-spacing: 1.2px;
            border:1px solid $borderColor;
            margin:0;
            display:inline-block;
            width: 100%;
            &:hover {
                color:#fff;
                background:$marineBlue;
                border:1px solid $marineBlue;
            }
            &:before {
                content: "\e916"; 
                font-family: 'icomoon';
                font-size: 17px;
                margin-right:16px;
            }
        }

        &.opened {
            > a {
                color:#fff;
                background:$marineBlue;
                border:1px solid $marineBlue;
            } 
            .ems-prd-social {
                display:block !important;
                    span {
                        a {
                            &:nth-child(1) {
                                &:before {
                                    content:'\e91b' !important;
                                }
                            }
                            &:nth-child(2){
                                &:before {
                                    content:'\e906' !important;
                                }
                            }
                            &:hover {
                                background:$lightBlue !important;
                                border:1px solid $lightBlue;
                            }
                        }
                    }
                }
        }

    }
}

.urunDetay .ems-prd {
    &-detail {
        background: inherit;
        display: inline-block;
        width: 100%;
        padding-bottom: 50px;
        &-inner {
            width: 100%;
            display:inline-block;
            .ems-prd-zoom {

            }
        }
        &-tab {
            width:100%;
            max-width:960px;
            margin:50px auto;
        }
        &.indirimli {
            .ems-prd-price-selling .urunDetay_satisFiyat {color:#bb0300;}
        }
    }
    &-name {
        margin-bottom:25px;
        h1 {
            font-family:$fontDefault;
            font-size:26px !important;
            font-weight: normal !important;
            letter-spacing: 1px;
            color:$marineBlue !important;
            
        }
    }
    &-code {
        font-size:15px;
        float: left;
    }
    &-comment {
        float:right;
        span {display:none;}

*/

        /* Raiting 
        .star-rating,
        .star-rating a:hover,
        .star-rating a:active,
        .star-rating a:focus,
        .star-rating .current-rating{
            background:url(#{$baseHref + "/images/frontend/star.png"}) left -1000px repeat-x;
        }
        .star-rating{
            position:relative;
            width:88px;
            height:18px;
            overflow:hidden;
            list-style:none;
            padding:0;
            background-position: left top;
        }

        .star-rating span {display:none;}

        .yorumBilgi .star-rating {margin:20px 10px 10px 0;}

        .star-rating li{
            display: inline;
        }
        .star-rating a, 
        .star-rating .current-rating{
            position:absolute;
            top:0;
            left:0;
            text-indent:-1000em;
            height:18px;
            line-height:25px;
            outline:none;
            overflow:hidden;
            border: none;
        }
        .star-rating a:hover,
        .star-rating a:active,
        .star-rating a:focus{
            background-position: left bottom;
        }
        .star-rating a.one-star{
            width:20%;
            z-index:6;
        }
        .star-rating a.two-stars{
            width:40%;
            z-index:5;
        }
        .star-rating a.three-stars{
            width:60%;
            z-index:4;
        }
        .star-rating a.four-stars{
            width:80%;
            z-index:3;
        }
        .star-rating a.five-stars{
            width:100%;
            z-index:2;
        }
        .star-rating .current-rating{
            z-index:1;
            background-position: left center;
        }	
    }
    &-price {
        width:100%;
        display:inline-block;
        margin:20px 0 78px 0;
        margin-top:15px !important;
         .urunDetay_KazancOran {
             position:absolute;
             top:-15px;
             font-size:14px;
             color:#bb0300;
             white-space: nowrap;
             right: -8px;
             &:before {
                 content:'%'
             }
             &:after {
                 content:' indirim'
             }
             }
         .urunDetay_satisFiyat:before {
            content: 't';
            font-family: 'tl';
            font-size: 23px;
            font-weight: normal;
            display: inline-block;
            margin-right:5px;
        }
        &-first {
            float:right; 
            position:relative; 
            text-decoration:none !important;
            margin-top:18px;
            margin-right:23px;
            span.d {
            vertical-align: top;
            font-size: 16px;
            position: relative;
            top: 2px; 
            }
            
            &:after {
            position: absolute;
            content: "";
            z-index: 1;
            left: 0;
            top: 50%;
            right: 0;
            border-top: 1px solid;
            border-color: #acacac;
            -webkit-transform: rotate(15deg);
            -moz-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            transform: rotate(15deg);
            }
            .pb1 {
                float: left;
                text-indent: -9999px;
                font-size: 0;
                vertical-align: bottom;
                display: inline-block;
                &:before {
                    content: 't';
                    font-family: 'tl';
                    font-size: 16px;
                    font-weight: normal;
                    display: inline-block;
                    margin-right: 2px;
                    text-indent: 0;
                    float: left;
                    position: relative;
                    top: 6px;
                    }
                }
        }
        &-selling {
            float:left;
                .urunDetay_satisFiyat{
                    color:$marineBlue; 
                    font-size:45px;  
                    span.d {
                        font-size:25px;
                        vertical-align: super;
                    }
                }
            }
    }
    &-color {
        width:100%;
        margin-bottom:20px;
        display:inline-block;
        &-title, &-title-exp {
            .urunDetay_urunGrupHeader, .urunDetay_urunGrupHeader-exp {
                display:block !important;
                margin-bottom: 13px;
                span {
                    font-size:15px;   
                }
            }
        }
        .UrunListeGrup_listeUrunDetayGrup, .ems-prd-color-title {display:none;}
        & li {
            display:inline-block;
            position:relative;
            cursor:pointer;
            .URN_AD {display:none;}
            .URN_RESIM {
                a {
                    display: inline-block;
                    img {
                        width:50px;
                        height:50px;
                    }
                }
                }
                &.selected .URN_RESIM:before {
                    content:'';
                    width:44px;
                    height: 44px;
                    border:3px solid $marineBlue;
                    position:absolute;
                }
            }
            .prd-list-group {
                width: 100%;
                max-width: 320px;
                margin-top: 28px;
                span {
                    display:inline-block; 
                    padding: 15px 20px;
                    font-size: 15px;
                    font-family: $fontSiteReg;
                    color: $marineBlue;
                    font-size: 15px;
                    border: 1px solid $borderColor;
                    cursor:pointer;
                    &:after {
                        content: '\e901';
                        color: #b7b7b7;
                        font-family: 'icomoon';
                        position: relative;
                        margin-top: 4px;
                        font-size: 11px;
                        float: right;
                    }
                    &:before {
                        content:'ÖLÇÜ: ';
                        font-family: $fontSite;

                    }
                }
                ul {
                    top: 46px;
                    background: #fff;
                    border: 1px solid $borderColor;
                    width: 100%;
                    li {
                        display:block;
                        margin-right: 0;
                        a {
                            font-size: 15px;
                            font-family: $fontSiteReg;
                            color: $marineBlue;
                            padding: 20px;
                            display:block;
                            &:hover {
                                background:$lightBlue;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .ems-prd-color-exp {
                max-width: 318px;
                .ems-prd-color-list-exp {
                    position: relative;
                }
                .UrunListeGrup_listeUrunDetayGrup-exp {
                    max-width: 318px;
                    overflow: hidden;
                    height: 52px;
                    ul {
                        li {
                            &.selected {
                                .URN_RESIM {
                                    &:before {
                                        width: 40px;
                                        height: 41px;
                                    }
                                }
                            } 
                             .URN_RESIM {
                                 padding: 5px; 
                                 img {
                                     width:43px;
                                     height: 45px;
                                 }
                             }
                        }
                    }
                }
                 .nav-btn-wrp {
                     .prev-btn {
                         position:absolute;
                         left: -25px;
                         top: 18px;
                         &:before {
                            content: "\e90c";
                            font-family: 'icomoon';
                            font-size: 15px;
                        }
                     }
                     .next-btn {
                         position:absolute;
                         right: -25px;
                         top: 18px;
                         &:before {
                            content: "\e914";
                            font-family: 'icomoon';
                            font-size: 15px;
                        }
                     }
                 }
            }
    }
    &-add-to-cart {
        margin:0 !important;
        max-width:320px;
        width: 100%;
        float: left;
        .urunDetay_btnSepeteAt table, .urunDetay_btnStokHaberci table {
            width:100%;
        }
        a.btnsepeteAt {
            text-align: left;
            position:relative;
            width:100%;
            &:before {
                    content: "\e900";
                    font-family:'icomoon';
                    position:absolute;
                    font-size: 30px;
                    right: 24px;
                    top: 7px;
                }
        }
        a.btnStokHaberci {
            width:100%;
        }
    }
    &-fell {
        width:100%;
        display:inline-block;
        margin-top: 5px;
        a {
            padding: 17px 0;
            font-size: 14px;
            background: inherit;
            color:$marineBlue;
            font-family: $fontSite;
            letter-spacing: 1px; 
            &:hover {
                background:inherit;
                color:$lightBlue;
            }
        }
    }
    &-store {
        width:100%;
        display:inline-block;
        display: none;
        a {
            padding: 15px 0;
            font-size: 14px;
            background: inherit;
            font-weight: normal;
            letter-spacing: 1px;
            &:hover {
                color:$lightBlue;
            }
        }
    }
}

.urunDetay .visilabs-widget {
        margin-top:50px;
        .ems-prd-price {
            width:auto;   
            display: block; 
            margin: 34px 10px 0 10px !important;
        }
        .ems-prd-price-first {
            margin: 0;
        }
        .ems-prd-price-first .pb1:before {
            display:none;
        }
        .ems-prd-icons {
            right: -42px !important;
            top: 33px !important;
            padding: 0;
                span {
                    padding: 0;
                    display:block;
                    position: static;
                    font-size: 12px;
                }
        }
    }

.btnFavoriEkle {
        background:inherit !important;
        display: inline-block !important;
        float:left;
        padding:0 !important;
        margin-left: 12px;
        &:before {
            content: "\e907";
            font-family: 'icomoon';
            font-size: 25px;
            color: #b3bfd0;
            font-weight: bold;
            padding: 10px;
            display: inline-block;
            position: relative;
            top: 2px;

        }
        &.selected:before {
            content:"\e917";
            color: #d75c95;}
        span{display:none;}
    }
*/

/* Yorum Yap Silinecek 


.yorumRating, .yorumRating a:hover, .yorumRating a:active, .yorumRating a:focus, .yorumRating .puanSelected, .current-rating, .star-rating {}
.yorumRating, .star-rating {width: 100px; height: 19px; overflow: hidden; background-position: left top; position:relative; float:left;}
.tableYorumListe_uyeRating > span{display:none;}

.yorumRating a, .yorumRating .puanSelected, .current-rating, .star-rating {display:block; text-indent: -999em; height: 19px; line-height: 19px; outline: none; overflow: hidden; border: none; @include transition(all 0s ease);}

.yorumRating .puanSelected, .current-rating {z-index: 1; background-position: left bottom; width:0%;}
.yorumRating a:hover, .yorumRating a:active, .yorumRating a:focus {background-position: left bottom; }
.yorumRating a.puan1 {width:20%; z-index:6;}
.yorumRating a.puan2 {width:40%; z-index:5;}
.yorumRating a.puan3 {width:60%; z-index:4;}
.yorumRating a.puan4 {width:80%; z-index:3;}
.yorumRating a.puan5 {width:100%; z-index:2;}

.yorumEkle .yorumRating a,
.yorumEkle .yorumRating .puanSelected,
.yorumEkle .yorumRating .current-rating {position:absolute; top:0; left:0;}

.yorumListe_main .yorumOzet .yorumYap{width:100%; height:auto; display:none;}
.yorumListe_main .yorumOzet .yorumYap >a {width:100%; height:auto;}

.yorumListeFiltered{padding-bottom:50px; position:relative; display:none;}
.yorumListeTumuBaslik{position:absolute;bottom:15px; left:50%; transform:translate(-50%);-o-transform:translate(-50%);-ms-transform:translate(-50%);-moz-transform:translate(-50%);-webkit-transform:translate(-50%);}
.yorumListeTumuBaslik span{ color:#ff0000; font-size:18px; font-family:'sanBold'; cursor:pointer; text-transform:uppercase;}

.yorumListe_main {padding:50px 0 86px 0; background-color:#fff; border-top:1px solid $borderColor;}
.yorumListe_main.no-comment .yorumOzet {display:none;}
.yorumListe_main .yorumFiltre, .yorumListe_main .tableTitleYorumListe, .yorumListe_main .tableYorumListe_yorumOnay, .yorumListe_main .tableYorumListe_yorumEvetHayir, .yorumListe_main .tableYorumListe_yorumDogruBul, .tableYorumListe_yorumAdres{display: none;}

.yorumListe_main .yorumOzet{margin:0 auto; max-width:800px;}
.yorumListe_main .yorumOzet span[id$="lbfYORUMLAR_GENELDEGERLENDIRME"] {display:none;}
.yorumListe_main .yorumListe{max-width:800px; margin:0 auto; display:none;}

.yorumListe_main .yorumOzet .yapilanYorum, .yorumListe_main .yorumOzet .yorumOrtalamaPuan{}
.yorumListe_main .yorumOzet .yapilanYorum{ display: inline-block;}
.yorumListe_main .yorumOzet .yapilanYorum span{font-size:16px;}
.yorumListe_main .yorumOzet .yorumOrtalamaPuan .ratingOzet{float: right; margin-left:10px; margin-top:-2px; display: none;}
.yorumListe_main .yorumListeTumu .yorum_main{padding: 30px 0; border-bottom:1px solid #cccccc;}

.yorumListe_main .yorumEkle .addComment{margin-top:35px; margin-bottom:65px; min-height:35px; font-family: 'sanBold'; font-size: 15px; text-align:center; color:#000;}

.yorumListe_main .yorumBilgi{margin-top:28px;}
.yorumListe_main .kullaniciBilgi > div{display:none;}
.yorumListe_main .kullaniciBilgi > .tableYorumListe_yorumTarih{display:block; float:right;}
.yorumListe_main .kullaniciBilgi > .tableYorumListe_yorumTarih .spnYorumTarih{ color:#7f7f7f; font-size:14px; font-family:'sanRegular';}

.yorumListe_main .kullaniciBilgi > .tableYorumListe_yorumAdSoyad{display:block; float:left;}
.yorumListe_main .kullaniciBilgi > .tableYorumListe_yorumAdSoyad span{color:#000; font-size:14px; font-family:'sanBold'; text-transform:uppercase;}
.tableYorumListe_yorumMesaj{color:#7f7f7f; font-size:15px; font-family:'sanRegular'; margin-bottom:28px;}
.tableYorumListe_yorumBaslik{display:none;}

.yorumEkle {position:relative; max-width:540px; margin:30px auto 0px auto; padding: 0 20px; text-align:center;}
.yorumEkle h3 {display:none;}
.yorumEkle .dvYorumBaslik{display:none;}
.yorumEkle .dvYorum,
.yorumEkle .dvKullaniciAdi{margin-bottom:20px; width:100%; display:none;}
.yorumEkle .dvYorum div,
.yorumEkle .dvYorum textarea,
.yorumEkle .dvYorum > *,
.yorumEkle .dvKullaniciAdi > span{ width:100% !important; height:auto;}
.yorumEkle .dvYorum > span,
.yorumEkle .dvKullaniciAdi > span:first-child{margin-bottom:15px; display:block;}

.yorumEkle .dvKullaniciAdi > span:last-child{border-width:1px; border-style: solid; border-color: #d3d3d3; padding:10px; display:block; margin:5px 0;}

.yorumEkle .dvYorumPuan {display:inline-block;}
.yorumEkle .dvYorumPuan .puanOrtalama {width:100%; margin-bottom:30px; font-size:20px; color:$marineBlue; font-family: $fontSite; display: inline-block;}
.yorumEkle .dvYorumPuan .puanOrtalama b {font-size:25px; color:$lightBlue;}
.yorumEkle .dvYorumPuan .spnYorumPuan {
            display: block;
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: normal;
            color: $marineBlue;
            font-family: $fontSite; 

    }


.yorumListe_main {
.yorumOzet {
    text-align: center;
    .puanOrtalama {
        font-size:20px; 
        color:$marineBlue; 
        font-family: $fontSite; 
        display: inline-block;
            b {
                font-size:25px; 
                color:$lightBlue;
            }

        }
        .yorumOrtalamaPuan {
            display:inline-block;
            strong {font-weight: normal;}
            span {
                color:$marineBlue; 
                font-family: $fontSite; 
                display: inline-block;
                font-size: 25px;
                color:$lightBlue;
                font-weight: bold;
                    strong {
                        font-size: 20px; 
                        font-weight: normal;
                        color: $marineBlue;
                        }
                    
            }
            span[id$="lblYORUMLAR_ORTALAMAPUAN"] {
                float:left;
                padding: 0 5px;
            }
        }
        
        .yorumEkle  {
            .spnYorumPuan {
                    font-size: 20px; 
                    font-weight: normal;
                    color: $marineBlue;
                    font-family: $fontSite;
                    display: block;
                    margin-bottom: 30px;
            }
        }
    }
}

.yorumEkle div.btnYorumGonder{clear: both; width: 100%; display: block;}
.yorumEkle div.btnYorumGonder{text-align:center; display:none;}
.yorumEkle div.btnYorumGonder a.btnYorumGonder{max-width:270px; margin:0 auto;}
.yorumEkle .yorumDurum{padding:20px 0;
                    font-size: 15px; 
                    font-weight: normal;
                    color: $marineBlue;
                    font-family: $fontSite;
}

.yorumEkle .pageErrorUyeBilgi {padding:0;}


.yorumEkle .pageErrorUyeBilgi a {width: 100%; display: inline-block; background:$marineBlue; padding:10px;}
.yorumEkle .pageErrorUyeBilgi a span {font-size: 16px; font-family: $fontSiteReg; color: #fff; font-weight: normal; }
.yorumEkle .pageErrorUyeBilgi a:hover {background:$lightBlue;}
*/

/*yorum rating
.yorumRating, .yorumRating a:hover, .yorumRating a:active, .yorumRating a:focus, .yorumRating .puanSelected, .yorumRating .current-rating {background:url(#{$baseHref + "/images/frontend/detailStar.png"}) repeat-x;}
.yorumRating {width: 175px; height: 32px; overflow: hidden; background-position: left top; position: relative; float: inherit; margin: 0 auto;}
.yorumRating a, .yorumRating .puanSelected, .yorumRating .current-rating { position: absolute; top: 0; left: 0; text-indent: -999em; height: 32px; line-height: 32px; outline: none; overflow: hidden; border: none; }
.yorumRating .puanSelected, .yorumRating .current-rating { z-index: 1; background-position: left bottom; }
.yorumRating a:hover, .yorumRating a:active, .yorumRating a:focus { background-position: left bottom; }
.yorumRating a.puan1 { width: 20%; z-index: 6; }
.yorumRating a.puan2 { width: 40%; z-index: 5; }
.yorumRating a.puan3 { width: 60%; z-index: 4; }
.yorumRating a.puan4 { width: 80%; z-index: 3; }
.yorumRating a.puan5 { width: 100%; z-index: 2; }

#lnkTaksitSecenek {
    display:inline-block;
    width:100%;
}

.prd-detail {
    &-top {
                width:100%;
                display:inline-block;
                border-bottom:1px solid #d8d8d8; 
                padding: 0 3px 23px 3px;
          }

}

*/

/* Ürün Üst Kayan Menü 

.prd-compact {
    width:100%;
    background: #eeeeee;
    position:fixed;
    top:-100%;
    @include transition(all 2s ease-out) 
    &-inner {
        width:100%;
        max-width:$siteContainerWidth;
        margin:0 auto;
        padding:0 15px 0 25px;
            .prd-compact-image {
                float:left;
                    img {
                        width:93px; 
                        height:70px;
                        display:block;
                    }
                }
            .prd-compact-group {
                width:auto;
                margin: 0 260px 0 106px;
                display:block;
                &-inner {
                    width:100%;
                    display:table;
                    height: 70px;
                    .prd-compact-name {
                        width:60%;
                        font-size:16px;
                        line-height: 19px;
                        display: table-cell;
                        vertical-align: middle;

                    }
                    .prd-compact-code {
                        width:20%;
                        font-size:16px;
                        display: table-cell;
                        vertical-align: middle;
                        }
                    .prd-compact-price {
                        width:20%;
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 30px;
                        font-family: $fontSiteBold;
                        line-height: 30px;
                        text-align: center;
                        span.d {
                            font-size: 20px;
                            vertical-align: top;
                            position: relative;
                            top: 1px;
                             }
                        &:before {
                                content: 't';
                                font-family: 'tl';
                                font-size: 23px;
                                font-weight: normal;
                                display: inline-block;
                                margin-right: 5px;
                            }
                        }   
                    }
            }
            .prd-compact-cart-btn {
                float:right;
                margin: 9px 0;
                .urunDetay_urunAdet {
                    display:none;
                }
            }
        }
        &.compact-ready{
            top:0;
            }
    }

//urun detay galeri
.thumb-gallery {
    .thumb-pager {
        position: absolute;
        left: -140px;
        top: 0;
        width: 100%;
        max-width: 120px;
        .thumb-pager-inner {
            li {
                border: 4px solid transparent;
                a, img {
                    display: block;
                    margin: 0 auto;
                }
                &.selected {
                    border-color: $marineBlue;
                }
            }
            .bx-viewport {
                height: 286px !important;
            }
        }
    }
    .bx-controls-direction, .sld-pager {
        display: none !important;
    }    
}
//zoom
a.cloud-zoom {
    display: block;
}

//super ozellikler
.why-prd {
    .title {
    display: block;
    font-size: 15px;
    color: #333;
    margin-bottom: 18px;
    }
    li {
        font-family: arial;
        font-size: $fontSizeDefault;
        color: #999;
        line-height: 1.4;
        b {
            color: #333;
            font-weight: 700;
        }
    }   
}

//oduller
.prd-awards {
    margin-top: 30px;
    > .title {
        display: block;
        margin-bottom: 5px;
    }
    li {
        padding: 1px;
        a, img {
            display: block;
        }
    }
}

//urun detay tab
.ems-prd-description-full {
    display: none;
    .page-detail .row-3 & {
        display: block;
    }
}
.prd-info-tab {
    > .ems-tab-inner {
        > ul.lvl1 > li {
            > a.title {
                &:hover {background: transparent;}
                > span {
                    padding-left: 55px;
                }
                .ems-icon {
                    margin-top: -17px;
                }
            }
            .content {
                background: #f6f6f6;
            }
        }
    }
}

//urun detay urun ozellikler
.prd-tech-info {
    font-family: $fontSite;
    color: #333;
    a {text-decoration: none;}
    .main-features {
        > * {
            width: 50%;
            position: relative;
            padding-top: 40px;
        }
        .inner-row-1 {
            .image-ruler {
                position: relative;
                margin: 0 0 36px 14%;
                width: 58%;
                > img {
                    display: block;
                }
                .ruler {
                    position: absolute;
                    &:before {
                        content: "";
                        position: absolute;
                        border:0px solid #cfcfcf;
                    }
                    > b {
                        position: relative;
                        z-index: 4;
                        background: #f6f6f6;
                        display: inline-block;
                        font-size: 15px;
                    }
                    &.w-ruler {
                        left: 0;
                        bottom: -35px;
                        width: 100%;
                        text-align: center;
                        &:before {
                            border-top-width: 1px;
                            left: 10%;
                            top: 50%;
                            width: 80%;
                        }
                        > b {
                            padding: 10px 20px;
                        }
                    }
                    &.h-ruler {
                        left: -24%;
                        top: 0;
                        height: 100%;
                        &:before {
                            border-left-width: 1px;
                            left: 50%;
                            top: 10%;
                            height: 80%;
                        }
                        b {
                            padding: 20px 10px;
                            top: 50%;
                            margin-top: -28px;
                            display: block;
                        }
                    }
                }
            }
            .main-size {
                width: 28%;
                > ul {
                    padding: 0 25px 40px;
                    > li {
                        margin-top: 25px;
                        &:first-child {margin-top: 0;}
                        small {
                            display: block;
                            font-size: 15px;
                            color: #666;
                            font-weight: 300;
                            font-style: italic; 
                        }
                        b {
                            display: block;
                            margin-top: 5px;
                            font-size: 23px;
                        }
                    }
                }
                .go-all-features {
                    display: block;
                    font-size: $fontSizeDefault;
                    font-weight: 700;
                    line-height: 1.4;
                    padding-left: 25px;
                    &:after {
                        content: "";
                        display: inline-block;
                        margin-left: 3px;
                        margin-top: 3px;
                    }
                }
            }
        }
        .inner-row-2 {
            padding-left: 85px;
            .big-text {
                font-size: 23px;
                font-weight: 300;
                margin-top: 0;
            }
            .small-text {
                font-size: 15px;
                color: #666;
                font-weight: 300;
                font-style: italic;
            }
            .prd-docs-tab {
                margin-top: 20px;
            }
        }
    }

    .all-features {
        padding: 30px 0;
        > .title {
            margin: 0 0 30px;
            font-size: 44px;
            font-weight: 300;
        }
        .all-features-list {
            .features-block {
                width: 50%;
                padding-right: 15%;
                color: #666;
                padding-bottom: 40px;
                > .title {
                    display: block;
                    margin-bottom: 15px;
                    font-size: 23px;
                    font-weight: 700;
                    line-height: 1.2;
                    max-width: 70%;
                }
                ul {
                    li {
                        font-family: $fontDefault;
                        font-size: $fontSizeDefault;
                        line-height: 1.5;
                        > span {
                            display: inline-block;
                            vertical-align: top;
                            &.text {width: 50%;}
                            &.value {
                                width: 50%;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        } 
    }
}

@media screen and (max-width:1100px) {
.urunDetay {
        .ems-prd-detail {
            .inner-row-1 {
                padding-left: 0;

            }
    }
    .thumb-gallery {
        .thumb-pager {
            display: none;
            
        }
        .swiper-inner {
             .bx-controls {
                 display: block !important;
             }
             .imageSize {
                 left: -10px !important;
                 a:before {font-weight: normal;}
             }
        }
    }

}
}

@media screen and (max-width:960px) {
    .urunDetay {
        .ems-prd-detail {
                .inner-row-1 {
                    width: 100%;
                    margin: 0;
                    padding-left: 0px;
                    padding: 30px 30px 0 30px;
                    .thumb-pager {display:none;}
                    .ems-prd-zoom {overflow: hidden;}
                }
                .inner-row-2 {
                    width: 100%;
                    padding: 6px 30px 0 30px;
                    .ems-prd-color {
                        .prd-list-group {
                            max-width: none;
                        }
                    }
                    .ems-prd-price {
                        margin-bottom: 30px;
                    }
                    .ems-prd-fell a {
                        padding: 20px 0;
                        font-size: 18px;
                        font-family: $fontSiteReg;
                    }
                    
                    .ems-prd-store a {
                        font-size: 18px;
                        font-family: $fontSiteReg;
                    }
                }
                .ems-prd-mobile-fix {
                    position: fixed;
                    bottom: 0;
                    z-index: 600;
                    width: 100%;
                    left: 0;
                        .ems-prd-add-to-cart {
                            width: calc(100% - 80px);
                            max-width: none;
                            a.btnsepeteAt,  a.btnStokHaberci {
                                font-size: 20px;
                                padding: 18px 37px; 
                            }
                            a.btnsepeteAt:before {
                                top: 13px !important;
                            }
                        }
                        .btnFavoriEkle {
                            background-color: #bcc7d5 !important;
                            margin-left:0;
                            width:80px;
                            height: 60px;
                            &:before {
                                color: #fff;
                                top: 8px;
                            }
                            &:hover {

                                background-color: #cccccc !important;
                                &:before {
                                color: #fff;
                                top: 8px;
                                }
                            }
                            &.selected:before {
                                color: #d75c95;
                            }
                        }
                }
        }

        .ems-prd-detail-tab {margin: 25px auto;}
        .UrunListeGrup_listeUrunDetayGrup {
            ul {
                width:100% !important;
            }

        }

*/ 

        /* Color 

        .ems-prd-color {
            .ems-prd-color-exp {
                max-width:none;
                .UrunListeGrup_listeUrunDetayGrup-exp {
                    max-width:none;
                    overflow: visible; 
                    height: auto;   
                    ul {
                        width: auto !important;
                    }
                }
                 .nav-btn-wrp {display:none !important;}
            }
        }

*/

        /* Tab Menu

        .ems-tab-horizontal-content {
            > .ems-tab-inner {
                > ul.navigation-js {display:none;}
                > ul.content-js {
                    > li {
                        display:inline-block;
                        width:100%;
                        border-bottom:1px solid #bcc7d5;
                        a.title {
                            
                            display:block;
                            font-size: 18px;
                            color:$marineBlue;
                            font-family: $fontSite;
                            padding: 20px 30px;
                            position: relative;
                            &:after {
                                content:'\e912';
                                font-family: 'icomoon';
                                font-size: 12px;
                                color: #bcc7d5;
                                float: right;
                            }
                        }
                        &.selected {
                            a.title {
                                background: $lightBlue;
                                color: #fff;
                                &:after {
                                content:'\e923';
                                }
                            }
                            .content {
                            padding: 40px 30px;
                            display: inline-block;
                            width: 100%;
                            }
                        }
                        .content {
                            margin: 0;
                        }
                        &:first-child {
                            border-top:1px solid #bcc7d5;
                        }
                    }
                }
            }
        }
    }
    .prd-compact {display:none;}
    .page-detail {
        .ems-prd-detail {padding-bottom: 20px !important;}
        padding: 0;
        .row-1 {padding: 0;}
        .info-main {
             ul {
                  li {
                width:50%;
                    &:nth-child(1), &:nth-child(2) {
                        margin-bottom: 60px;
                    }
                }
            }
        }

 */

        /* Detail Share 
        .ems-tab .ems-tab-inner > .content-js > li.selected > .content {
        .detailShare {display:none;}
        }
        .detailShare {

            float: none;
            margin: 0 auto 50px auto;
            text-align: center;
            width: 100%;
            display: block;
            max-width: 394px;
            padding: 0 30px;

            a {
            font-family: $fontSite;
            font-size:18px;
            line-height: 12px;
            padding:18px 20px;
            letter-spacing: 1.2px;
            border:1px solid $borderColor;
            margin:-1px 0 0 0;
            display:inline-block;
            width: 100%;
            &:hover {
                color:#fff;
                background:$marineBlue;
                border:1px solid $marineBlue;
            }
            &:before {
                content: "\e916"; 
                font-family: 'icomoon';
                font-size: 17px;
                margin-right:16px;
            }
        }
        &.opened {
            > a {
                color:#fff;
                background:$marineBlue;
                border:1px solid $marineBlue;
            } 
            .ems-prd-social {
                display:block !important;
                    span {
                        a {
                            a:first-child {
                                &:before {
                                    content:'\e91b';
                                }
                            }
                            a:last-child {
                                &:before {
                                    content:'\e906';
                                }
                            }
                            &:hover {
                                background:$lightBlue;
                                border:1px solid $lightBlue;
                            }
                        }
                    }
                }
        }
    }

    
    }
    .visilabs-widget.category-topsellers-productpage {display:none !important;}
}

*/

/*/////////////////////////////////////////      STOKTA OLAN MAĞAZALAR      /////////////////////////////////////////*/

/*
.minPp.sizeQuery {width: 770px !important; max-width:100%; padding:20px;}
.minPp.sizeQuery .minPpBdy{padding:0 45px; height:370px; overflow:auto;}
.minPp.sizeQuery .minPpFtr{height:30px;}
.sizeQueryHeader {padding:0 10px;}
.sizeQueryHeader h4{font-family: 'DM'; font-size: 16px; color:#002b5c;  font-weight: normal;  padding: 10px 0 20px 0; margin: 0 0 30px 0 !important; border-bottom:1px solid #d8d8d8; text-align:left;}
.sizeQuery.bedenYok .selectors select.size, .sizeQuery .storeList .be, .sizeQuery.bedenYok .storeList .sbe {
  display: none;}
.sizeQueryHeader > span {line-height: 1.2;font-size: 16px !important; margin-bottom: 25px !important; color:  #002b5c;}
.selectors{width:100%; padding:0 0px 25px; display:inline-block;}
.selectors select {float: left;margin-right: 3.444%;}
.selectors select.city {width: 31%;}
.selectors select.city option:before {content:'ŞEHİR:';}
.selectors select.size{width: 31%;}
.selectors a{float:left; padding: 12px 30px; width: 31%;}
.selectors a span {font-size:16px;}
.storeList .store:first-child {border-top:1px solid #c6c6c6;}
.storeList .store{padding:25px 0; border-bottom:1px solid #c6c6c6; margin-bottom:0px; position:relative; width:100%; border-right:0; height:auto;}
.storeList {padding-bottom:30px;}
.storeList .store .title{font-family:arial; font-size:14px; color:#304672; margin-bottom:10px; font-weight:bold;}
.storeList .store .address{font-family:arial; font-size:14px; color:#666; margin-bottom:5px;}
.storeList .store .city{font-family:arial; font-size:14px; color:#666; margin-bottom:5px;}
.storeList .store .tel{font-family:arial; font-size:14px; color:#666; margin-bottom:10px;}
.storeList .store .stockWarning{position:absolute; top:20px; right:0; color:#ab303a; font-weight:bold;}
.storeList .store a.showMap{text-decoration:underline;}
.storeList .store a.showMap:hover{text-decoration:none;}
.storeList .store .mapHolder{width:523px; display:none; margin-top:10px;}
.storeList .store.opened .mapHolder {  display: block;  position: relative;  z-index: 10;}
.storeList .store .mapHolder .map #Map{width:100%; height:300px; }
.storeList p{text-align:center; color:#002b5c; font-size: 16px; margin-top:50px;}

*/

/* Product Detail Stock Alert
.pageProductdetail .prdInfo .prdPrice  {position:relative;}
.urunDetay_sonKacUrun {margin-top:15px; display:inline-block; position:absolute; right:0; bottom:20px; padding-left:10px; border-left:1px solid #ddd;}
.urunDetay_sonKacUrun .stokSayi {color:#0c356f; font-size:24px; font-family: 'trivia_slab_regularbold'; line-height:25px; display:inline-block;}
.urunDetay_sonKacUrun .stokSayi i {background: url("/images/frontend/clockicon.png") no-repeat;width: 14px;height: 18px;content: "";display: inline-block;margin-top: 3px;}
.urunDetay_sonKacUrun span {color:#777777 !important; font-size:10px !important; font-family: 'open_sansregular' !important; display:block; text-align:center;}

@media screen and (max-width:960px) {
    
    .minPp.sizeQuery {max-width: none !important; width:100% !important;}
    .minPp.sizeQuery .minPpBdy {position:static !important;} 
    .selectors a {padding: 15px 30px;}
}

@media screen and (max-width:680px) {
    .selectors select {margin:0 0 20px 0;}
    .selectors select.city, .selectors select.size {width:100%;}
    .selectors a {width:100%;}
}

 */