/*servis liste maÄŸazalar*/
.sListPage {position: relative;}
.sListPage .bodyHolder {width:auto; padding:0;}
.sListPage .bodyHolder .row1 .col1 {position:relative;}
.sListPage .bodyHolder .row1 .col1 .drpShadow {height:10px; z-index:5;}
.mapHolder {position:relative; transition:none;}
.mapHolder div {transition:none;}
.googleMapsContainer {width:100%; height:690px;}
.googleMapsContainer img {max-width: inherit !important;}

.pageservis {position:absolute; left:0px; top:0px; width:415px; height: 100%; z-index:5; background: #fff;}
.pageHeaderservis {padding:35px 25px;}
.pageHeaderservis > span {font-size:30px; font-family: $fM;}
.servisArama {padding:0 20px 25px 20px; }
.tableServisArama {width: 58%; padding-right: 10px;}
.tableServisArama .sStylerWrp, .tableServisArama select {height: 55px !important;}
.findStore {/*margin-bottom:30px;*/ float: right; width: 42%;}
.findStore * {font-size:13px; color:#3e3f44;}
.findStore > span {font-size:13px; color:#3e3f44; font-weight:normal;}
.findStore i {float:left; margin:0 10px 25px 0;}
a.allowLocation {display:none;}
.servisArama .konumuPaylas a.allowLocation {width:100%; text-decoration:none !important; margin:0px; padding: 18px 10px 18px 30px; background: transparent !important; border: 1px solid $borderColor; display:block;}
.servisArama .konumuPaylas a.allowLocation span {color: $dBlue; font-size: 14px; text-transform: uppercase; position: relative; white-space: nowrap;}
.servisArama .konumuPaylas a.allowLocation span:before {content:'\e93f'; font-size: 20px; font-family: 'icomoon'; color: $dBlue; position: absolute; left: -24px; top: -2px;}
.servisArama_tddvSehirBilgi select {width:100%;}
#servisIcerik {clear:both;}
.servisIcerik {background:#fff; height:503px; padding: 0 20px; overflow-y:scroll; padding-right: 10px;}
.servis_bilgi {display:none;}
.cityTitle {padding:15px 20px; display: none;}
.cityTitle i {float:left; margin:-3px 8px 0 0;}
.cityTitle span {font-size:16px; color:$dBlue;}
.pServisListe > div {padding:14px 10px;}


.pServisListe:hover {background:$lightBg; cursor:pointer;}
.pServisListe.selected {background:$lBlue;}
.pServisListe.selected > div {color:#fff;}
.pServisListe.selected .divServisListe_FirmaAdi:after {width:7px; height:7px; content:""; float:right; margin:6px 0;}
.pServisListe > div {font-size:18px; color:$text; border-radius: 5px;}
.pServisListe > div.divServisListe_DepoSec {display:none;}
.serviceDetail {background:$vlightBg; position:absolute; left:25px; top:0px; width:320px; height: 100%; z-index:1;}
.serviceDetail .content {padding:10px;}
.serviceDetail .icon1.close {position:absolute; right:5px; top:5px; background: $vlightBg; border-radius: 100%; padding: 5px;}
.serviceDetail .icon1.close:before {content:'\e921'; font-family: 'icomoon'; font-size: 10px; color: $text;}
.serviceDetail h1 {font-size:24px; font-family: $fM;  padding: 25px 20px; margin: 0; font-weight: normal;}
.serviceDetail h2 {font-family: $fM; font-size: 14px; padding: 10px 20px; margin: 0; font-weight: normal;} 
.serviceDetail p {color:$text; font-size: 14px; padding: 0 20px;}
.serviceDetail .img-holder {text-align:center;}
.serviceDetail .img-holder img {width: 100%;}

.divServisListe_Yetkili, .divServisListe_ServisTur, .divServisListe_WebAdresi, .divServisListe_Email, .divServisListe_Adres, .divServisListe_UlkeSehirSemt, .divServisListe_Telefon, .divServisListe_Fax, .divServisListe_Koordinat {display:none;}

.servisArama_thlbfSCT_SPR_AD, .servisArama_tddrpSCT_SPR_ID, 
.servisArama_thlbfULK_ADI, .servisArama_tddrpULK_KOD,
.servisArama_thlbfILC_ADI, .servisArama_tddvIlceBilgi,
.servisArama_thlbfSHR_ADI, .servisArama_btnArama {display:none;}

@media screen and (max-width:960px) {
/*mobile detect maÄŸazalar*/
.pageservis {position:static; width:100%; margin:0px;}
.servisArama {padding:0px;}
.findStore i {float:none; vertical-align:middle; margin-bottom:0;}
.servisArama_tddvSehirBilgi select {width:100%;}
.cityTitle {background:#fff;}
.servisIcerik {overflow:inherit; height:auto; padding: 0;}
.pServisListe {/*background:#f5f5f5;*/ border-top:1px solid #d1d1d1; position:relative;}
.pServisListe > div {padding: 20px; border-radius: 0;}
.pServisListe > div.tableServisListe_tdResim {padding: 0 20px; }
.pServisListe.opened > div.tableServisListe_tdResim {display:block !important; padding: 0 20px;}
.pServisListe > div.tableServisListe_tdResim img {width:100%; font-size: 0;}
.pServisListe.opened {background:#e5e5e5;}
.pServisListe .content {display:none; background:#e5e5e5; min-height:270px; width:100%; padding:25px 0 0 25px;}
.pServisListe.opened .content {display:block;}
.pServisListe.opened > div.divServisListe_FirmaAdi {font-family: $fM; color: $title;}
.pServisListe .content h2 {font-size:14px; color:434242; font-weight:bold; margin-top:20px;}
.pServisListe .content h2:first-child {margin-top:0;}
.pServisListe .content p {font-size:14px; color:#434242;}
.pServisListe .content .haritadaGoster {padding:0px !important; margin-top:10px; color: $lBlue !important; background: transparent;}
.pServisListe .content .haritadaGoster span i {margin-left:10px;}
.pServisListe .button {float:right; text-decoration:none; width: 100%; height: 62px; display: block; position: absolute; top: 0; left: 0;}
.pServisListe .button:before {content: "\e933"; font-family: 'icomoon'; position: absolute; right: 30px; top: 27px; font-size: 12px; color: inherit;}
.pServisListe .button span {text-decoration:none;}
.pServisListe .button .kapat, .pServisListe.opened .button .detay {display:none;}
.pServisListe .button .detay {color:#003477; display:none;}
.pServisListe.opened .button:before {content: "\e936";}
.pServisListe.opened .button .kapat {display:none;}
.pServisListe .button span i {margin-left:15px; vertical-align:middle;}
.pServisListe .mapDiv {width:55%; padding:0; height:184px; border:3px solid #fff; position:absolute; right:20px; bottom:20px; display:none;}
.serviceDetail, .mapHolder {display:none;}
.findStore, .pageHeaderservis {display:none;}
.tableServisArama {width: 100%; padding: 0;} 
.tableServisArama select {height:70px !important; font-size: 18px;}
.tableServisArama .sStylerWrp {height: 60px !important;}
}



/*.service-list-holder{
    width: 100%;
    height: 670px;
    position: relative;
        &.search-typ-1{
            .location-search-input{
                display: none;
            }
            a.change-search-btn span.type-2{
                display: block !important;
            }
        }
        &.search-typ-2{
            .city-list,
            .county-list{
                display: none;
            }
            a.change-search-btn span.type-1{
                display: block !important;
            }
        }
        .service-sidebar{
            width: 360px;
            height: 100%;
            position: absolute;
            background: #fff;
            z-index: 2;
            padding:20px;
                .service-nav{

                }
                .service-list{
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 0;
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    overflow: auto;
                    padding: 10px 20px;
                    .pServisListe{
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                        border: 1px solid #ebebeb;
                        padding: 20px;
                        > div{
                            font-size: 14px;
                            margin-bottom: 5px;
                            :empty{
                                display: none;
                            }
                        }
                    }
                }

                .service-view{
                    display: none;
                }
                .service-type{
                    width: 100%;
                    height: auto;
                    padding: 0 40px 0 20px;
                    margin-bottom: 40px;
                    > li{
                        width: 100%;
                        display: none;
                        &.selected{
                            display: block;
                        }
                        > a{
                            display: block;
                            font-size: 30px;
                            line-height: 34px;
                            font-family: $fontSite;
                            font-weight: 200;
                        }
                    }
                }
                .service-location{
                    width: 100%;
                    height: auto;
                    padding: 0 40px 30px 20px;
                    margin-bottom: 40px;
                    border-bottom:1px solid #ebebeb;
                        & > li{
                            width: 100%;
                            margin-bottom: 10px;
                                .obj-title{display: none;}
                                
                                 .search-btn{
                                    background: #cecece;
                                    height: 40px;
                                    width: 110px;
                                    color: #fff;
                                    font-size: 12px;
                                    line-height: 40px;
                                    border:none;
                                    padding: 0;
                                }
                                &.distance-list{
                                    display: none;
                                }
                                &.location-change-search{
                                    padding-top: 50px;
                                        a.change-search-btn{
                                            color: #333333;
                                            font-size: 12px;
                                            font-weight: 700;
                                            display: inline-block;
                                            vertical-align: top;
                                                span{
                                                    display: none;
                                                }
                                        }
                                }
                        }
                }
        }
        
        &.service-found{
                .service-nav{
                    .service-location{
                        display: none;
                    }
                }
                .service-list{
                    height: calc(100% - 150px);
                }
        }
        .service-map{
            width: 100%;
            height: 100%;
            padding-left:360px;
            position: absolute;
                 .ajx-service &:After {
                    content: '';
                    background: #fff;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.5;
                }
                .ajx-service &:before {
                    content: '';
                    background: url(#{$baseHref + "/images/frontend/loading.gif"});
                    width: 32px;
                    height: 32px;
                    display: block;
                    z-index: 3;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -16px;
                    margin-top: -16px;
                }
        }
}
*/