.ems-service-list{
    .service-list-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
    }
    .mod-service-list-header {
        margin-bottom:40px;
        span[id$='lbfKUTU_YETKILISERVISLER'] {
            font-size:20px;
            margin:25px 0 35px 0;
            display: block;
            text-align: center;
                a {
                    text-decoration: underline;
                    font-weight: bold;
                }
            } 
            .ems-form {
                &-inner {
                    width:100%;
                    display:table;
                    .ems-field:nth-child(1) {
                        display:none;
                    }
                    .ems-field:nth-child(4) {
                        padding-right:0;
                    }
                    .ems-field select {
                        font-size:18px;
                    }
                    .ems-field {
                        padding-right:15px;
                        display:table-cell;
                        .ems-form-label, input {display:none;}
                        .ems-form-obj {
                            a {
                                width:100%;
                                padding:11px 0 14px 0;
                                    span {
                                        font-size:14px;
                                    }
                            }
                        }
                    }
                    > div {width:33.333%;}

                }
            }
    }

    .mod-service-list-body {
        .service-list {
            .pServisListe {
                    font-size:17px;
                    width:100%;
                    display:inline-block;
                .distance-service  {display:none;}
                .divServisListe_FirmaAdi {
                    font-size:35px;
                }
                .divServisListe_Telefon a span:before {
                    content: "Telefon: ";
                }
                .divServisListe_Koordinat {
                    margin-top:30px;
                    a {
                        &:before {
                                content:'\e90d';
                                font-family:'icomoon';
                                font-size: 27px;
                                color:$lightBlue;
                                margin-right:10px;
                                text-decoration: none;
                                font-weight: normal;
                                position: relative;
                                top: 5px;
                            }
                        span {
                        text-decoration: underline;
                        font-weight: bold;
                            span.gs1 {display:inline-block;}
                            span.gs2 {display:none;}
                        }
                    }
                }
                &.selected {
                    .divServisListe_Koordinat {
                        margin-top: 38px;
                        a:before {
                            content:'\e905';
                            font-size: 14px;
                            top: 1px;
                            padding: 0px 6px 0 7px;
                        }
                        span {
                            font-weight: normal;
                            span.gs1 {display:none;}
                            span.gs2 {display:inline-block;}
                        }
                    }
                }
            }

            .address-detail {
                display:inline-block;
                width:100%;
                margin-bottom: 45px;
                &-inner {
                    .back-btn {display:none;} 
                    .left-column {
                        /*width:323px;*/ 
                        float:left;
                        .title {
                            background:$lightBlue;
                            font-size:18px;
                            letter-spacing: 0.6px;
                            padding:15px;
                            text-align: center;
                            font-family: $fontSiteReg;
                            color: #fff;
                            max-height: 76px;
                            span {display: block;}
                        }
                        .detail {display:none;}
                        .work-table {
                            > span {display:none;}
                                table {
                                    border-collapse: collapse;
                                    width:100%;
                                    height: 367px;
                                    text-align: center;
                                    tr {
                                        th {
                                            width:188px;
                                            border: 1px solid #d8d8d8;
                                            font-family:$fontSite;
                                            font-size: 16px;
                                            color:$marineBlue;
                                            border-bottom: 0;
                                            border-top: 0;
                                        }
                                        td {
                                            width:135px;
                                            background: #f0f3f5;
                                            border: 1px solid #d8d8d8;
                                            font-size: 16px;
                                            color:$marineBlue;
                                            font-family: $fontSiteReg;
                                        }
                                    }
                                    tr:last-child {
                                        th {border-bottom:1px solid $borderColor;}
                                    }
                                }
                            }
                    }
                    .right-column {
                        /*width:auto;
                        margin-left:323px;*/
                        float: right;
                    }
                }
            }

        }
        .servisIcerik {
            .servis_bilgi {display:none;}
                .service-list-group {
                    width:100%;
                    display:table;
                    margin-bottom: 60px;
                    .pServisListe {
                        width:50%;
                        display:table-cell;
                        vertical-align: top;
                            &:first-child {
                                border-right: 1px solid $borderColor; 
                                padding-right: 20px;
                                    div {
                                        max-width:350px; 
                                        width: 100%;
                                    }
                            }
                            &:nth-child(2) {
                                padding-left: 20px;
                                div {
                                        max-width:350px; 
                                        width: 100%;
                                        float: right;
                                    }
                            }
                            .divServisListe_Email {
                                            display:none; 
                                        }
                        }
                }
        }
    }

}

@media screen and (max-width:960px) {

    .ems-service-list {
    .mod-service-list-header {
        span[id$='lbfKUTU_YETKILISERVISLER'] { 
                text-align: center;
                font-size: 18px;
            } 
        }
    }

}

@media screen and (max-width:960px) {
    .ems-service-list {
       .mod-service-list { 
            &-header {
                .ems-form-inner {
                    display:block;
                    .ems-field {
                        display: block;
                    }
                    > div {
                        width:100%;
                    }
                    .ems-field {
                    padding-right: 0;
                    }
                }
                
            }
        
        .mod-service-list-body {
            .servisIcerik {

                    .pServisListe {
                        display:inline-block; 
                        width: 100%; 
                        padding: 0; 
                        border-bottom:1px solid $borderColor !important;
                        margin-bottom: 50px;
                        padding-bottom: 50px !important;
                            &:first-child {
                                border: 0;
                                padding: 0;
                            }
                            div {
                                float:none !important;
                                max-width:none !important;
                                word-break: break-word;
                            }
                        }

                }
                .address-detail {display:none;}
            }

            &.show-address-detail {
                .service-list-group {display:none !important;}
                .address-detail {
                    &.opened {
                        position:fixed;
                        width:100%;
                        height: 100%;
                        z-index: 500;
                        display:block;
                        top: 80px;
                        left: 0;
                        overflow-y: auto;
                        padding-bottom: 200px;
                        background: #fff;
                            .address-detail-inner {
                            .back-btn {
                                border-top: 3px solid $lightBlue;
                                display: block;
                                width: 100%;
                                background: #fff;
                                        a {
                                            font-size: 18px;
                                            padding: 20px;
                                            display: inline-block;
                                        i:before {
                                            content: '\e90c';
                                            font-family: 'icomoon';
                                            color: $lightBlue;
                                            font-size: 14px;
                                            margin-right: 30px;
                                        }
                                    }      
                                }
                            .left-column {
                                width:100%;
                                .detail {
                                    display:block;
                                    font-size: 18px;
                                    padding: 0 30px;
                                    .distance-service, .divServisListe_Koordinat {display:none;}
                                    .divServisListe_FirmaAdi {font-size:35px; margin: 20px 0;}
                                    .divServisListe_Telefon {
                                        padding: 15px 20px; 
                                        background: $marineBlue; 
                                        position:fixed;
                                        bottom:0;
                                        font-size: 18px;
                                        color: #fff;
                                        width: 100%;
                                        left: 0;
                                        text-align: center;
                                            span {
                                                display: inline-block;
                                                &:after {
                                                    content: "\e910";
                                                    font-family: 'icomoon';
                                                    font-size: 27px;
                                                    margin-left: 27px;
                                                    position: relative;
                                                    top: 3px;
                                                }
                                                &:before {
                                                    content: "ARA";
                                                    float: right;
                                                    font-size: 17px;
                                                    font-family: $fontSite;
                                                    margin-left: 25px;
                                                    position: relative;
                                                    top: 5px;
                                                }
                                            }
                                        }
                                        .tableServisCalismaSaatleri {
                                            display: block !important;
                                            margin-top:40px;
                                             table {
                                                    border-collapse: collapse;
                                                    width:100%;
                                                    height: 367px;
                                                    text-align: center;
                                                    tr {
                                                        th {
                                                            width:188px;
                                                            border: 1px solid #d8d8d8;
                                                            font-family:$fontSite;
                                                            font-size: 16px;
                                                            color:$marineBlue;
                                                            border-bottom: 0;
                                                            border-top: 0;
                                                        }
                                                        td {
                                                            width:135px;
                                                            background: #f0f3f5;
                                                            border: 1px solid #d8d8d8;
                                                            font-size: 16px;
                                                            color:$marineBlue;
                                                            font-family: $fontSiteReg;
                                                        }
                                                    }
                                                    tr:last-child {
                                                        th {border-bottom:1px solid $borderColor;}
                                                    }
                                                    tr:first-child {border-top:1px solid $borderColor;}
                                                }
                                                .service-work-hours {
                                                    background: #0262b7;
                                                    font-size: 18px;
                                                    letter-spacing: 0.6px;
                                                    padding: 15px;
                                                    text-align: center;
                                                    font-family: $fontSite;
                                                    color: #fff;
                                                    max-height: 76px;
                                                    display: inline-block;
                                                    width: 100%;
                                                }
                                        }
                                    }
                                .work-table, .title {display:none;}
                                .work-table > span {display:block;}
                            }
                            .right-column {
                                width:100%;
                            }
                        }
                    }
                }
            }
        }

    }
    .address-detail-show {
    .site-content {position: fixed; width:100%;}
    .mobilAltMenu {display:none;}
    }
}